

#############################################
# DHCP Server Configuration template for 
# OGL orange server installation
#
# The variables used in this template 
# are input of playbook cmd line args
# depending on the subnet
#############################################



#subnet {{ ovn_cumulus_sw_mgmt_port_subnet_ip }} netmask {{ ovn_cumulus_sw_mgmt_port_subnet_mask }} {

#  option subnet-mask {{ ovn_cumulus_sw_subnet_mask }};
#  option routers {{ ovn_cumulus_sw_subnet_router }};
#  next-server {{ ovn_cumulus_sw_subnet_next_server }};

#}


#
# Static IP assignement for management ports on the orange servers
# For VMs
#
host orange1 {
     hardware ethernet {{global_ovn_cluster_orange_rack1_mgmt_mac}};
     fixed-address {{global_ovn_cluster_orange_rack1_mgmt_ip}};
     option host-name "{{global_ovn_cluster_orange_rack1_hostname}}";
}

host orange2 {
     hardware ethernet {{global_ovn_cluster_orange_rack2_mgmt_mac}};
     fixed-address {{global_ovn_cluster_orange_rack2_mgmt_ip}};
     option host-name "{{global_ovn_cluster_orange_rack2_hostname}}";
}


host orange3 {
     hardware ethernet {{global_ovn_cluster_orange_rack3_mgmt_mac}};
     fixed-address {{global_ovn_cluster_orange_rack3_mgmt_ip}};
     option host-name "{{global_ovn_cluster_orange_rack3_hostname}}";
}





#
# For HP DL360
#

host {{global_ovn_cluster_orange_hw_rack1_hostname}} {
     hardware ethernet {{global_ovn_cluster_orange_hw_rack1_mgmt_mac}};
     fixed-address {{global_ovn_cluster_orange_rack1_mgmt_ip}};
     option host-name "{{global_ovn_cluster_orange_rack1_hostname}}";
}

host {{global_ovn_cluster_orange_hw_rack2_hostname}} {
     hardware ethernet {{global_ovn_cluster_orange_hw_rack2_mgmt_mac}};
     fixed-address {{global_ovn_cluster_orange_rack2_mgmt_ip}};
     option host-name "{{global_ovn_cluster_orange_rack2_hostname}}";
}


host {{global_ovn_cluster_orange_hw_rack3_hostname}} {
     hardware ethernet {{global_ovn_cluster_orange_hw_rack3_mgmt_mac}};
     fixed-address {{global_ovn_cluster_orange_rack3_mgmt_ip}};
     option host-name "{{global_ovn_cluster_orange_rack3_hostname}}";
}




#
# For OCW M2 Lab Test
#
host ovn-orange-ocw-1 {
     hardware ethernet 5c:b9:01:7b:a0:cf;
     fixed-address 192.168.0.101;
     option host-name "ovn-orange-1";
}

#
# OCW oob-mgmt-golden Simulation (on site burner server)
#
host ovn-mgmt-golden-vm {
    hardware ethernet {{ global_ovn_mgmt_golden_server_mac_vm }};
    fixed-address {{ global_ovn_mgmt_golden_server_ip }};
    option host-name "{{ global_ovn_mgmt_golden_server }}";
}


#
# HA servers Simulation
#
host ovn-mgmt-ha1-vm {
    hardware ethernet {{ global_ovn_mgmt_ha1_mac_vm }};
    fixed-address {{ global_ovn_mgmt_ha1_ip }};
    option host-name "{{ global_ovn_mgmt_ha1}}";
}

host ovn-mgmt-ha2-vm {
    hardware ethernet {{ global_ovn_mgmt_ha2_mac_vm }};
    fixed-address {{ global_ovn_mgmt_ha2_ip }};
    option host-name "{{ global_ovn_mgmt_ha2}}";
    
}


#
# New orange servers Simulation
#
host ovn-mgmt-or1-vm {
    hardware ethernet {{ global_ovn_mgmt_or1_mac_vm }};
    fixed-address {{ global_ovn_mgmt_or1_ip }};
    option host-name "{{ global_ovn_mgmt_or1}}";
}

host ovn-mgmt-or2-vm {
    hardware ethernet {{ global_ovn_mgmt_or2_mac_vm }};
    fixed-address {{ global_ovn_mgmt_or2_ip }};
    option host-name "{{ global_ovn_mgmt_or2}}";
}

