#Input
<worker 0>
  <source>
    @type tail
    path /var/log/cron
    pos_file /opt/app/td-agent/td_agent_cron_tail.pos
    tag ovn.log.{{ td_agent_mode }}.cron
    format /(?<ISOTIMESTAMP>[^s]+)(\s+)(?<HOSTNAME>[^\s]+)(\s+)(?<APPLICATION>[^\W]+)(\[(?<PID>[^}]*)\]+):(\s+)\((?<User>[^\s]+)\)(\s+)CMD(\s+)\((?<COMMAND>[^\s]+)/
    read_from_head true
    limit_recently_modified 7d
  </source>
</worker>
<filter ovn.log.{{ td_agent_mode }}.cron>
  @type prometheus
  <metric>
    name cron_job_schedule
    type counter
    desc cron job status status
    <labels>
      application ${APPLICATION}
      script_name ${COMMAND}
    </labels>
  </metric>
</filter>
