#Input
<worker 0>
    <source>
      @type udp
      tag ovn.log.{{ td_agent_mode }}.erlangservices
      <parse>
        @type erlang_log
      </parse>
      port {{ syslogd_port }}
      bind {{ syslogd_host }}
    </source>
</worker>

#Discard debug logs
<filter ovn.log.{{ td_agent_mode }}.erlangservices>
  @type grep
  <exclude>
    key severity
    pattern ^(7|8)$
  </exclude>
</filter>

#Transform
<filter ovn.log.{{ td_agent_mode }}.erlangservices>
  @type record_transformer
  enable_ruby
  <record>
   hostname {{ ansible_hostname }}
   logTimestamp ${ Time.parse(record["logTimestamp"]).strftime("%Y-%m-%dT%H:%M:%S.%L"); }
  </record>
</filter>