#Input
<worker 0>
	<source>
	 @type tail
	 path /opt/app/vss/vssexe/VsLogger_*_LogFile.txt_*.txt
	 pos_file {{ td_agent_data_dir }}/td_agent_tail.pos
	 tag ovn.log.{{ td_agent_mode }}.vss
	 format /^(?<hostname>\S+)\s+(?<user>[^ ]+)\s+(?<logTimestamp>\d{7}\s+\d{2}:\d{2}:\d{2}) (?<module>[^ ]+)[\s]+(?<severity>[^ ]+)\s+(?<payload>.+)$/
	 read_from_head true
	 limit_recently_modified 7d
	</source>
</worker>

#Discard debug logs
<filter ovn.log.{{ td_agent_mode }}.vss>
  @type grep
  <exclude>
    key severity
    pattern ^(DEBUG|TRACE|debug|trace)$
  </exclude>
</filter>

# Modify the date format as ruby cannot convert %j format date
<filter ovn.log.{{ td_agent_mode }}.vss>
  @type record_transformer
  enable_ruby
  <record>
   logTimestamp ${ Date.parse(record["logTimestamp"]).strftime("%Y-%m-%d") + "T" + Time.parse(record["logTimestamp"]).strftime("%H:%M:%S.%L"); }
   index_prefix fluentd_vss
  </record>
</filter>