{
  scala.future.timeout = 60
  job.retry.count = 5

  apftp{
    file.mode = "Testing" // Other value "Production"
    file.pullkey1 = "CERT"
    client.class = "com.visa.ovn.clearing.wrappers.OVNApfClient"
    selection.query ="CMD=SSND APPL=B FILEMODE=T"
    client_ea.port = 9022
  }

  riak {
    cluster-nodes =
      [
        "127.0.0.1:11087",
        "127.0.0.1:12087",
        "127.0.0.1:13087",
        "127.0.0.1:14087",
        "127.0.0.1:15087",
      ]
    bucket.type = "ovn_clearing"
    jobhistory.bucket.name = "job_history"
    file_metadata.bucket.name = "file_metadata"
    exception.bucket.name = "exception_monitor"
    min.connections = 10
    max.connections = 20
  }

  hdfs {
    core-site = "core-site.xml"
    hdfs-site = "hdfs-site.xml"
    folder-path = "/ovn/clearing"
  }

  kerberos {
    principal = "hdfs/_HOST@VISA.COM"
    keytab = "/etc/security/keytabs/hdfs.keytab"
  }

  kafka {
    bootstrap.servers =
      [
        "127.0.0.1:9092"
      ]
    topic = "my-topic2"
    partitions = 1
  }

  ssl {
    trustStorePath = "/opt/goovnt/certs/trustedstore"
    keyStorePath = "/opt/goovnt/certs/keystore"
    keyStorePwd = "visa2006"
    trustStorePwd = "visa2006"
    keyStoreType = "JKS"
    trustStoreType = "JKS"
  }

  bridge_ea {
    ip = "{{ bridge_ea_ip }}"
    apf.port = 50111
    port = 21
    connection.timeout = 30
    ftp.user= "ftp_user_1"
    ftp.password = "Ftp_pass_1"
  }
  clearing_profile = "/opt/profile/clearing.profile"


}

