{transport, gen_tcp}.
%{host, "10.13.201.99"}.
%{port, 2300}.
%{ssl_options, []}.
{host, "localhost"}.
{port, 1500}.
{ssl_options, []}.
{tunnel, "ssh -i ${ovncd_ssh_key} -n -o LocalForward='1500 10.13.201.99:1500' ovncd@10.13.201.34 sleep 8 &"}.
{tunnel_delay, 5500}.
{zcmk, "U1A8AC529EEFBBB59BDD7DC653988A8EF"}.
