{transport, gen_tcp}.
{host, "localhost"}.
{port, 1500}.
{ssl_options, []}.
{ssl_options_saved, [
  {certfile, "../ovn_switch/rel/hsm-client-cert/cert.pem"},
  {cacertfile, "../ovn_switch/rel/hsm-client-cert/ca_chain.vica4.pem"},
  {keyfile, "../ovn_switch/rel/hsm-client-cert/pkey.pem"}
]}.
{tunnel, "ssh -i ${ovncd_ssh_key} -n -o LocalForward='1500 10.207.189.104:1500' ovncd@10.211.125.25 sleep 5 &"}.
{tunnel_delay, 3000}.
{zcmk, "UBCD03CF5F385717DEBD966F9F6E6B319"}.
