global:
  smtp_smarthost: '{{ alertmanager_smtp_smarthost }}'
  smtp_from: '{{ alertmanager_smtp_from }}'
  pagerduty_url: 'undefined'
  hipchat_url: 'undefined'
  opsgenie_api_host: 'undefined'
  victorops_api_url: 'undefined'

templates:
  - /etc/prometheus/alertmanager/*.tmpl

route:
  receiver: default
  group_wait: 30s
  group_interval: 1m
  repeat_interval: {{ alertmanager_repeat_interval }}
  receiver: default
  routes:
  - match_re:
      alertname: .*
    group_by: ['alertname', 'severity']
    receiver: email_config
    continue: true
  - match_re:
      alertname: ^(Node|Service|Cluster).*
    group_by: ['alertname', 'severity', 'hostname']
    receiver: email_route_netcool

inhibit_rules:
- source_match:
    severity: 'critical'
  target_match:
    severity: 'warning'
  equal: ['alertname']

receivers:
- name: default

- name: email_config
{% if environment_name == "test" or environment_name == "cert" or environment_name == "prod" %}
  email_configs:
  - to: '{{ alertmanager_email_to }}'
    require_tls: false
    html: '{{ '{{' }} template "email.html" . {{ '}}' }}'
{% endif %}

- name: email_route_netcool
{% if environment_name == "test" or environment_name == "cert" or environment_name == "prod" %}
  email_configs:
  - to: '{{ Netcool_email }}'
    require_tls: false
    html: '{{ '{{' }} template "email_netcool.html" . {{ '}}' }}'
    headers: {"subject" : "Netcool - OVN - Prometheus Alert"}
{% endif %}
