[Unit]
Description=process_exporter - Exporter for process metrics.
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3
TimeoutStopSec=180
StandardOutput=null
StandardError=null
WorkingDirectory={{ process_exporter_base_dir }}

ExecStart={{ process_exporter_base_dir }}/process-exporter -config.path {{ process_exporter_config_dir }}/process_mapping.yml -web.listen-address {{ process_exporter_address }}  -web.telemetry-path /metrics

[Install]
WantedBy=multi-user.target
