global:
  scrape_interval:     10s
  evaluation_interval: 15s

  external_labels:
      prometheus_server: '{% if prometheus_use_fqdn == "true" %}{{ ansible_fqdn }}{% else %}{{ inventory_hostname }}{% endif %}'
      datacenter_id: '{{ prometheus_datacenter_id }}'
      environment: '{{ environment_name }}'

rule_files:
  - {{ prometheus_rule_path }}/prometheus-alert.rules.yml

alerting:
  alert_relabel_configs:
    - source_labels: [instance]
      regex: .*
      replacement: ""
      target_label: instance
      action: replace
    - source_labels: [job]
      regex: .*
      replacement: ""
      target_label: job
      action: replace
  alertmanagers:
    - path_prefix: "/{{ alertmanager_app_context_path }}"
{% if alertmanager_ssl_enabled == 'true'  %}
      scheme: https
      tls_config:
        ca_file: {{ prometheus_nginx_ssl_client_certificate }}
        cert_file: {{ prometheus_nginx_ssl_certificate_path }}
        key_file: {{ prometheus_nginx_ssl_certificate_key_path }}
{% endif %}
      static_configs:
      - targets:
{% for node in groups.prometheus_alertmanager|default ( {} ) %}
{% if hostvars[node].ansible_fqdn is defined and prometheus_use_fqdn == "true" %}
        - "{{ hostvars[node].ansible_fqdn }}:{{ nginx_default_port }}"
{% else %}
        - "{{ hostvars[node].inventory_hostname }}:{{ nginx_default_port }}"
{% endif %}
{% endfor %}

scrape_configs:
  - job_name: '{{ prometheus_context_path }}'
{% if prometheus_ssl_enabled == 'true'  %}
    scheme: https
    tls_config:
      ca_file: {{ prometheus_nginx_ssl_client_certificate }}
      cert_file: {{ prometheus_nginx_ssl_certificate_path }}
      key_file: {{ prometheus_nginx_ssl_certificate_key_path }}
{% endif %}
    metrics_path: "/{{ prometheus_app_context_path }}/metrics"
    relabel_configs:
       - source_labels: [__address__]
         regex: '(.*)(:.*)'
         target_label: hostname
         replacement: "$1"
    static_configs:
      - targets:
{% for node in groups.prometheus_server|default( {} ) %}
{% if 'prometheus_mode' in hostvars[node] and 'lt' not in hostvars[node].prometheus_mode %}
{% if hostvars[node].ansible_fqdn is defined and prometheus_use_fqdn == "true" %}
        - "{{ hostvars[node].ansible_fqdn }}:{{ nginx_default_port }}"
{% else %}
        - "{{ hostvars[node].inventory_hostname }}:{{ nginx_default_port }}"
{% endif %}
{% endif %}
{% endfor %}
        labels:
          service_name: prometheus

  - job_name: 'federate'
    scrape_interval: 10s
    honor_labels: true
{% if prometheus_ssl_enabled == 'true'  %}
    scheme: https
    tls_config:
      ca_file: {{ prometheus_nginx_ssl_client_certificate }}
      cert_file: {{ prometheus_nginx_ssl_certificate_path }}
      key_file: {{ prometheus_nginx_ssl_certificate_key_path }}
{% endif %}
    metrics_path: '/{{ prometheus_app_context_path }}/federate'
    params:
      'match[]':
        - '{job="system_metrics"}'
        - '{job="nomad_metrics"}'
        - '{job="statsd_metrics"}'
        - '{job="hdfs_metrics"}'
        - '{job="elasticsearch_metrics"}'
        - '{job="kafka_metrics"}'
        - '{job="zookeeper_metrics"}'
        - '{job="haproxy_metrics"}'
        - '{job="ovn_monitoring_metrics"}'
        - '{job="fluentd_metrics"}'
        - '{job="pushgateway_metrics"}'
        - '{job="process_metrics"}'
        - '{job="yummirrors_metrics"}'
    static_configs:
      - targets:
{% if prometheus_active_node is defined %}
        - "{{ prometheus_active_node }}:{{ nginx_default_port }}"
{% else %}
{% for node in groups.prometheus_server %}
{% if 'prometheus_mode' in hostvars[node] and hostvars[node].prometheus_mode == 'active' %}
{% if hostvars[node].ansible_fqdn is defined and prometheus_use_fqdn == "true" %}
        - "{{ hostvars[node].ansible_fqdn }}:{{ nginx_default_port }}"
{% else %}
        - "{{ hostvars[node].inventory_hostname }}:{{ nginx_default_port }}"
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
