{
  "server": false,
  "disable_update_check": true,
  "disable_remote_exec": true,
  "enable_script_checks": true,
  "leave_on_terminate": true,
  "check_update_interval": "0s",
  "domain": "{{ consul_domain }}",
  "datacenter": "{{ consul_datacenter }}",
  "node_name": "{{ consul_node_name }}",
  "ports": {
    "dns": {{ consul_dns_port }},
    "serf_lan": {{ consul_serf_lan_port }},
    "http": {{ consul_http_port }},
    "https": {{ consul_https_port }}
  },
  "retry_join": [ {% for host in groups['consul_server'] %}"{{ hostvars[host]['ansible_'+default_iface]['ipv4']['address'] }}"{% if not loop.last %},{% endif %}{% endfor %} ],
  "data_dir": "{{ consul_data_dir }}",
  "advertise_addr": "{{ consul_advertise_addr }}",
  "bind_addr": "{{ consul_bind_addr }}",
  "client_addr": "{{ consul_client_addr }}",
  "acl_enforce_version_8": {{ consul_acl_enforce_version_8 | to_json}},
  "log_level": "{{ consul_log_level }}"
}
