# See https://www.envoyproxy.io/docs/envoy/v1.5.0/operations/cli

CONFIG_PATH=/etc/envoy/envoy.yaml

#ADMIN_ADDRESS_PATH=

LOCAL_ADDRESS_IP_VERSION=v4

#BASE_ID=

#CONCURRENCY=

LOG_LEVEL={{ envoy_log_level }}

LOG_PATH={{ envoy_log_path }}

#SERVICE_CLUSTER=

#SERVICE_NODE=

#SERVICE_ZONE=

#FILE_FLUSH_INTERVAL=10000

#DRAIN_TIME=600

#PARENT_SHUTDOWN_TIME=900

#MAX_OBJ_NAME_LEN=60

#MAX_STATS=16384
