[Unit]
Description=Vault Service
After=network.target

[Service]
Type=simple
User=vault
ExecStart={{ dir.install }}/vault server -config={{ dir.config }}/vault.hcl
Restart=on-abort

{%if enterprise %}
Environment=IngrianNAE_Properties_Conf_SessionID_Max=10
Environment=IngrianNAE_Properties_Conf_Slot_ID_Max=10
Environment=NAE_Properties_Conf_Filename={{dir_config}}/IngrianNAE.properties
{% endif %}

[Install]
WantedBy=multi-user.target
