set timeout=10
menuentry 'Install Visa CentOS 7.X (SecureBoot)' --unrestricted {
#  linuxefi  uefi/vmlinuz ip=dhcp inst.ks=https://{{dhcp_server_addr}}/ks/rh-7-min-ks.cfg inst.noshell
  linuxefi  uefi/vmlinuz ip=dhcp inst.ks=http://$pxe_default_server/ks/min-ks.cfg inst.visa_repo_url=http://$pxe_default_server/repo/visa inst.repo=http://$pxe_default_server/repo/centos inst.noshell
  initrdefi uefi/initrd.img
}
#inst.noshell inst.cmdline
