{transport, gen_tcp}.
{host, "localhost"}.
{port, 1500}.
{ssl_options, []}.
{ssl_options_saved, [
  {certfile, "../ovn_switch/rel/hsm-client-cert/cert.pem"},
  {cacertfile, "../ovn_switch/rel/hsm-client-cert/ca_chain.vica4.pem"},
  {keyfile, "../ovn_switch/rel/hsm-client-cert/pkey.pem"}
]}.
{tunnel, "ssh -i ${ovncd_ssh_key} -L1500:10.237.1.50:1500 ovncd@10.237.1.41 sleep 5 & "}.
{tunnel_delay, 10000}.
{zcmk, "U7F3D81EE6AC43D91A36F63851F7012CD"}.
