[
    {kernel, [
        {inet_dist_use_interface, {{erlang_dist_ip}}},
        {inet_dist_listen_min, {{inet_dist_listen_min}}},
        {inet_dist_listen_max, {{inet_dist_listen_max}}},
        {start_pg2, true}
    ]},

    {ovn_vip_ef_sync, [
        {feed_dir, "{{feed_dir}}"},
        {subscription_dir, "{{subscription_dir}}"},
        {sequence_prefix, "{{sequence_prefix}}"},
        {pull_key, "{{pull_key}}"},
        {domain, {{domain}} },
        {process_delay, {{ef_process_delay}} }
    ]},

    {ovn_profile, [
        {data_dir, "{{profile_dir}}"},
        {use_profile_in_deps, {{use_profile_in_deps}}}
    ]},

    {pooler, [{metrics_module, ovn_metric},
            {pools, [ {{vip_endpoints_pooler_config}}
		    ]
            }]
     },

  {lager, [
    {colored, true},
    {crash_log, "{{log_dir}}/{{node_name}}.crash.log"},
    {crash_log_size, 0},
    {crash_log_date, ""},
    {error_logger_hwm, undefined},
    {handlers, [
      {lager_file_backend, [{file, "{{log_dir}}/{{node_name}}.log"}, {level, debug}, {size, 104857600}, {count, 5}]},
      {lager_syslog_backend, ["ovn_vip_ef_sync", local1, info]}
      ]}
    ]}
].
