{"version":1,
 "partitions":[{"topic":"{{topic}}","partition":0,"replicas":[1,2,3]},
               {"topic":"{{topic}}","partition":1,"replicas":[2,3,4]},
               {"topic":"{{topic}}","partition":2,"replicas":[3,4,1]},
               {"topic":"{{topic}}","partition":3,"replicas":[4,1,2]}
              ]}
