#
# Auto-created by Ansbile templates
#
{# This is the template file that will be used
to create group vars for Cumulus IB switches
by top level playbook site.yml #}


networks:
    #
    # subnets
    #
    ovn-leaf1-subnet:
        network: "{{ ip_subnet }}.32/27"
        source: ["{{ ovn_leaf1.hostname }}"]
    ovn-leaf2-subnet:	
        network: "{{ ip_subnet }}.64/27"
        source: ["{{ovn_leaf2.hostname}}"]
    ovn-leaf3-subnet:
        network: "{{ ip_subnet }}.96/27"
        source: ["{{ovn_leaf3.hostname}}"]
    ovn-leaf4-subnet:
        network: "{{ ip_subnet }}.128/27"
        source: ["{{ovn_leaf4.hostname}}"]

    {# TBD: no more static routes here #}
    #TBD
    ovn-border-leaf1-subnet-non-cumulus:
        network: "{{ ip_subnet }}.200/30"
        source: ["{{ovn_border_leaf1.hostname}}"]

    ovn-border-leaf2-subnet-non-cumulus:
        network: "{{ ip_subnet }}.204/30"
        source: ["{{ovn_border_leaf2.hostname}}"]
    {# TBD #}

    ovn-border-leaf1-subnet-ea:
        network: "{{ ip_subnet }}.0/29"
        source: ["{{ovn_border_leaf1.hostname}}", "{{ovn_border_leaf2.hostname}}"]


    ovn-border-leaf2-subnet-ea:
        network: "{{ ip_subnet }}.8/29"
        source: ["{{ovn_border_leaf1.hostname}}", "{{ovn_border_leaf2.hostname}}"]



    ovn-border-leaf-subnet-ha:
        network: "{{ ip_subnet }}.16/29"
        source: ["{{ovn_border_leaf1.hostname}}", "{{ovn_border_leaf2.hostname}}"]


    ovn-border-leaf-subnet-rescue:
        network: "{{ ip_subnet }}.24/29"
        source: ["{{ovn_border_leaf1.hostname}}", "{{ovn_border_leaf2.hostname}}"]



    #
    # Loopbacks
    #
    ovn-leaf1-loopback:
        network: "{{ ip_subnet }}.249/32"
        source: ["{{ovn_leaf1.hostname}}"]
    ovn-leaf2-loopback:
        network: "{{ ip_subnet }}.248/32"
        source: ["{{ovn_leaf2.hostname}}"]
    ovn-leaf3-loopback:
        network: "{{ ip_subnet }}.247/32"
        source: ["{{ovn_leaf3.hostname}}"]
    ovn-leaf4-loopback:
        network: "{{ ip_subnet }}.246/32"
        source: ["{{ovn_leaf4.hostname}}"]
    ovn-spine1-loopback:
        network: "{{ ip_subnet }}.255/32"
        source: ["{{ovn_spine1.hostname}}"]
    ovn-spine2-loopback:
        network: "{{ ip_subnet }}.254/32"
        source: ["{{ovn_spine2.hostname}}"]
    ovn-border-leaf1-loopback:
        network: "{{ ip_subnet }}.253/32"
        source: ["{{ovn_border_leaf1.hostname}}"]
    ovn-border-leaf2-loopback:
        network: "{{ ip_subnet }}.252/32"
        source: ["{{ovn_border_leaf2.hostname}}"]


#
# Definitions of interfaces
#

interfaces:

     {{ovn_leaf1.hostname}}:

         loopback: "{{ ip_subnet }}.249"
         asn: "{{ asn_ovn_leaf1 }}"
         networks:
             bridge:
                 ports: ["swp1","swp2","swp3","swp4","swp5","swp6","swp7","swp8","swp9","swp10"]
                 vlan_ids: ["210"]
                 vlans:
                    "210":
                      ip: "{{ ip_subnet }}.33/27"
                      ports: ["swp1","swp2","swp3","swp4","swp5","swp6","swp7","swp8","swp9","swp10"]

         neighbors:
             # Dell S4048
             swp49:
             swp50: 
             
     {{ovn_leaf2.hostname}}:
       
         loopback: "{{ ip_subnet }}.248"
         asn: "{{ asn_ovn_leaf2 }}"
         networks:
             bridge:
                 ports: ["swp1","swp2","swp3","swp4","swp5","swp6","swp7","swp8","swp9","swp10"]
                 vlan_ids: ["220"]
                 vlans:
                    "220":
                      ip: "{{ ip_subnet }}.65/27"
                      ports: ["swp1","swp2","swp3","swp4","swp5","swp6","swp7","swp8","swp9","swp10"]

         neighbors:
             # Dell S4048	
             swp49:
             swp50: 

     {{ovn_leaf3.hostname}}:

         loopback: "{{ ip_subnet }}.247"
         asn: "{{ asn_ovn_leaf3 }}"
         networks:
             bridge:
                 ports: ["swp1","swp2","swp3","swp4","swp5","swp6","swp7","swp8","swp9", "swp10"]
                 vlan_ids: ["230"]
                 vlans:
                    "230":
                      ip: "{{ ip_subnet }}.97/27"
                      ports: ["swp1","swp2","swp3","swp4","swp5","swp6","swp7","swp8","swp9","swp10"]

         neighbors:
             # Dell S4048
             swp49:
             swp50: 


     {{ovn_leaf4.hostname}}:

         loopback: "{{ ip_subnet }}.246"
         asn: "{{ asn_ovn_leaf4 }}"
         networks:
             bridge:
                 ports: ["swp1","swp2","swp3","swp4","swp5","swp6","swp7","swp8","swp9", "swp10"]
                 vlan_ids: ["240"]
                 vlans:
                    "240":
                      ip: "{{ ip_subnet }}.129/27"
                      ports: ["swp1","swp2","swp3","swp4","swp5","swp6","swp7","swp8","swp9","swp10"]

         neighbors:
             # Dell S4048
             swp49:
             swp50: 


     {{ovn_spine1.hostname}}:

        loopback: "{{ ip_subnet }}.255"
        asn: "{{ asn_ovn_spines }}"

        neighbors:
           # Dell S4048
           # swp49:
           # swp50:
           # swp51:
           # swp52:
           # swp53:
          # Dell S6010
            swp1:
            swp2:
            swp3:
            swp4:
            swp5:
            swp6:



     {{ovn_spine2.hostname}}:

        loopback: "{{ ip_subnet }}.254"
        asn: "{{ asn_ovn_spines }}"

        neighbors:
           # Dell S4048
           # swp49:
           # swp50:
           # swp51:
           # swp52:
           # swp53:
          # Dell S6010
            swp1:
            swp2:
            swp3:
            swp4:
            swp5:
            swp6:

     {{ovn_border_leaf1.hostname}}:

         loopback: "{{ ip_subnet }}.253"
         asn: "{{ asn_ovn_borders }}"

         bonds:
             peerlink:
                 name: "peerlink"
                 bond_slaves: ["swp51", "swp52"]

         networks:
             bridge:
                 #TBD
                 ports: ["swp3","swp4","swp5","swp6","peerlink"]
                 vlan_ids: ["260", "261","262","263"]
                 vlans:
                     "260":
                         ip: "{{ ip_subnet }}.1/29"
                         ports: ["swp3"]
                     "261":
                         ip: "{{ ip_subnet }}.9/29"
                         ports: ["swp4"]
                     "262":
                         ip: "{{ ip_subnet }}.17/29"
                         ports: ["swp5"]
                     "263":
                         ip: "{{ ip_subnet }}.25/29"
                         ports: ["swp6"]



         neighbors:
             # Dell S4048
             swp49:
             swp50: 

         #TBD
         neighbors_non_cumulus:
             swp1: "{{ ip_subnet }}.202"

     {{ovn_border_leaf2.hostname}}:

         loopback: "{{ ip_subnet }}.252"
         asn: "{{ asn_ovn_borders }}"

         bonds:
            peerlink:
                 name: "peerlink"
                 bond_slaves: ["swp51", "swp52"]

         networks:
            bridge:
                 #TBD
                 ports: ["swp3","swp4","swp5","swp6","peerlink"]
                 vlan_ids: ["260", "261","262","263"]
                 vlans:
                     "260":
                         ip: "{{ ip_subnet }}.1/29"
                         ports: ["swp3"]
                     "261":
                         ip: "{{ ip_subnet }}.9/29"
                         ports: ["swp4"]
                     "262":
                         ip: "{{ ip_subnet }}.17/29"
                         ports: ["swp5"]
                     "263":
                         ip: "{{ ip_subnet }}.25/29"
                         ports: ["swp6"]


         neighbors:
             # Dell S4048
             swp49:
             swp50: 

         neighbors_non_cumulus:
             swp1: "{{ ip_subnet }}.206"
