#
# Auto-created by Ansbile templates
#
{# This is the template file that will be used
to create group vars for Cumulus OOB switches
by top level playbook site.yml #}


oob_switch:

   {{oob_sw.hostname}}:
       ip_eth0: {{oob_sw.int_eth0.subnet_int_ip}}
       swp_ports: "{{oob_sw.vlans.vlan201.ports}}"
       vlan_id: {{oob_sw.vlans.vlan201.vlan_id}}
       vlan_ip: {{oob_sw.vlans.vlan201.subnet}}




   {{oob_serv.hostname}}:
       ip_eth0: {{oob_serv.int_eth0.subnet_int_ip}}
       swp_ports: "{{oob_serv.vlans.vlan200.ports}}"
       vlan_id: {{oob_serv.vlans.vlan200.vlan_id}}
       vlan_ip: {{oob_serv.vlans.vlan200.subnet}}
