#!/bin/bash
#
# epmd <summary>
#
# chkconfig:   2345 80 20
# description: Starts and stops a single epmd instance on this system
#

### BEGIN INIT INFO
# Provides: epmd
# Required-Start: $network $named
# Required-Stop: $network $named
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: This service manages the epmd daemon
# Description: Erlang Port Mapper Daemon acts as a name server on all hosts involved in distributed Erlang computations
### END INIT INFO

#
# Source function library.
#
if [ -f /etc/rc.d/init.d/functions ]; then
    . /etc/rc.d/init.d/functions
fi

. /etc/sysconfig/epmd

exec=$ERTS/bin/epmd
prog=epmd
lockfile=/var/lock/subsys/$prog


case "$1" in
    start)
        echo -n "Starting epmd "
        daemon --user $EPMD_USER $exec -daemon
        retval=$?
        echo
        [ $retval -eq 0 ] && touch $lockfile
        ;;
    stop)
        echo "Shutting down epmd "
        ## Stop daemon with killproc(8) and if this fails
        ## killproc sets the return value according to LSB.
        $exec -kill
        retval=$?
        echo
        [ $retval -eq 0 ] && rm -f $lockfile
        ;;
    restart)
        ## Stop the service and regardless of whether it was
        ## running or not, start it again.
        $0 stop
        $0 start
        retval=$?
        ;;
    status)
        # run checks to determine if the service is running or use generic status
        $exec -names
        retval=$?
        ;;
    *)
        echo "Usage: $0 {start|stop|status|restart}"
        exit 1
        ;;
esac
exit $retval
