[Unit]
Description=Erlang Port Mapper Daemon
After=network.target

[Service]
User=epmd
Group=epmd
StandardOutput=journal
StandardError=journal
Type=simple
ExecStart=/opt/{{name}}/erts-6.4/bin/epmd
Restart=on-failure
ExecStop=/opt/{{name}}/erts-6.4/bin/epmd -kill
TimeoutStopSec=10
KillMode=control-group

[Install]
WantedBy=multi-user.target

