{{ define "email_netcool.html" }}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<body>
<div>

ppClient={{ index (index .Alerts.Firing 0).Labels "hostname" }};<br />
Domain={{ index (index .Alerts.Firing 0).Labels "hostname" }};<br />
OriginSeverity={{ if eq (index (index .Alerts.Firing 0).Labels "severity") "warning" }}MINOR;
               {{ else }}MAJOR;
               {{ end }}<br />
FreeText={{range .Alerts.Firing}}{{range .Annotations.SortedPairs}}{{if eq .Name "Description"}}{{.Value}}$${{end}}{{end}}{{end}};<br />
OriginEvtClass=OVN;<br />
ObjectClass={{ index (index .Alerts.Firing 0).Labels "service_name" }};<br />
OrigObject={{ index (index .Alerts.Firing 0).Labels "alertname" }};<br />
Region=CONSOLE;<br />
DestinationConsole=OpenSystems;<br />
OriginType={{- $alert := (index (index .Alerts.Firing 0).Labels "alertname") -}}
           {{- $level := (index (index .Alerts.Firing 0).Labels "severity") -}}
           {{ if eq $alert "NodeDown" }}OVN_Indonesia_9;
           {{ else if eq $alert "ClusterDown" }}OVN_Indonesia_10;
           {{ else if eq $alert "ServiceDown" }}OVN_Indonesia_11;
           {{ else if eq $alert "NodeDiskFillingFast" }}OVN_Indonesia_12;
           {{ else if and (eq $alert "NodeHighCPUUse") (and (eq $level "warning")) }}OVN_Indonesia_1;
           {{ else if and (eq $alert "NodeHighCPUUse") (and (eq $level "critical")) }}OVN_Indonesia_2;
           {{ else if and (eq $alert "NodeHighDiskUse") (and (eq $level "warning")) }}OVN_Indonesia_3;
           {{ else if and (eq $alert "NodeHighDiskUse") (and (eq $level "critical")) }}OVN_Indonesia_4;
           {{ else if and (eq $alert "NodeHighMemoryUse") (and (eq $level "warning")) }}OVN_Indonesia_5;
           {{ else if and (eq $alert "NodeHighMemoryUse") (and (eq $level "critical")) }}OVN_Indonesia_6;
           {{ else if and (eq $alert "NodeHighSwapUse") (and (eq $level "warning")) }}OVN_Indonesia_7;
           {{ else if and (eq $alert "NodeHighSwapUse") (and (eq $level "critical")) }}OVN_Indonesia_8;
           {{ else }}OVN_Indonesia_X;
           {{ end }}<br />
ForwardFlag=N/A;<br />
OriginKey=N/A;<br />
OriginDateTime={{ (index .Alerts.Firing 0).StartsAt }};<br />
Origin={{ index (index .Alerts.Firing 0).Labels "hostname" }};<br />

</body>
</html>

{{ end }}
