[
    {ovn_testing_perf, [
       {server_ip, "{{ hostvars[groups['haproxy'][0]]['ansible_fqdn']}}"},
       {server_port, {{haproxy_frontend_mediator_port}}},
       {members_file, "{{workspace}}/priv/ovn_members.dets"},
       {transaction_dets_file, "{{workspace}}/priv/ovn_transactions.dets"}
    ]},
    {tsung_controller, [
       {web_gui, true},
       {keep_web_gui, false},
       {smp_disable, true},
       {debug_level, 5},
       {warm_time, 1},
       {exclude_tag, ""},
       {config_file, "{{workspace}}/priv/ovn-load.xml"},
       {log_dir, "{{workspace}}/.tsung/log/"},
       {mon_file, "tsung.log"}
    ]},
    {lager, [
      {log_root, "{{workspace}}/.tsung/lager/"},
      {colored, true},
      {crash_log_size, 0},
      {crash_log_date, ""},
      {error_logger_hwm, undefined},      
      {handlers, [
        {lager_file_backend, [{file, "error.log"}, {level, error}, {size, 0}, {date, ""}]},
        {lager_file_backend, [{file, "console.log"}, {level, info}, {size, 0}, {date, ""}]}
      ]}
    ]},
    {vmstats, [
      {base_key, "tsung"}
    ]}
].
