server:
  port: "{{ cas_ui_http_port }}"
  scheme: "{{ cas_ui_scheme }}"
  version: "{{cas_ui_version}}"
  tls_config:
    server_cert: "{{ cas_ui_server_cert }}"
    server_key: "{{ cas_ui_server_key }}"
    server_root_ca_certs:
{%  for cert in  cas_ui_server_root_ca_certs %}
      - "{{ cert }}"
{%  endfor  %}
    client_root_ca_certs:
{%  for cert in  cas_ui_client_root_ca_certs %}
      - "{{ cert }}"
{%  endfor  %}
    ciphers:
{%  for cipher in  cas_ui_ciphers %}
      - "{{ cipher }}"
{%  endfor  %}
    min_version: "{{ cas_ui_tls_min_version }}"

  auth:
    group_to_role:
      {{ovn_cas_admin}}: admin
      {{ovn_cas_viewer}}: viewer
      {{ovn_cas_editor}}: editor

  cas_tools:
    url : "{{ cas_tools_location }}"
    dc: "{{dc_name}}"
    version: "{{cas_tool_version}}"
    client_cert: "{{ cas_ui_cas_tools_client_cert }}"
    client_key: "{{ cas_ui_cas_tools_client_key }}"
    client_ca_certs:
{%  for cert in  cas_ui_cas_tools_client_ca_certs %}
      - "{{ cert }}"
{%  endfor  %}

logger:
  file_backend:
    log_level: {{ cas_ui_file_logger_level }}
    path: {{ cas_ui_file_logger_path }}
    prefix: {{ cas_ui_file_logger_prefix }}
  syslog_backend:
    log_level: {{ cas_ui_sys_logger_level }}
    prefix: {{ cas_ui_sys_logger_prefix }}
  console_backend:
    log_level: {{ cas_ui_log_level }}

