[
    {kernel, [
        {inet_dist_use_interface, {{erlang_dist_ip}}},
        {inet_dist_listen_min, {{inet_dist_listen_min}}},
        {inet_dist_listen_max, {{inet_dist_listen_max}}},
        {start_pg2, true}
    ]},

    {ovn_vitalsigns_delivery, [
        {sftp_key, "{{sftp_key}}"},
        {sftp_servers, {{sftp_servers}}},
        {instance, "{{instance}}"},
        {transaction_cutoff, {{transaction_cutoff}}},
        {timeout_cutoff, {{timeout_cutoff}}},
        {topic, <<"{{topic}}">>},
        {partitions, {{partitions}}},
        {cursor_bucket, <<"{{cursor_bucket}}">>},
        {message_bucket, <<"{{message_bucket}}">>},
        {processor, {{processor}}}
    ]},

    {kafkerl, [
            {disabled, false},
            {conn_config, [
                {brokers, {{kafka_endpoints}}},
                {client_id, {{node_name}}}, % Sent to kafka
                {max_broker_retries, 10},
                {broker_tcp_timeout, 1000},
                {max_metadata_retries, -1},
                {assume_autocreate_topics, false},
                {metadata_tcp_timeout, 1000},
                {max_queue_size, 20}, % In items, per topic/partition
                {max_time_queued, 5}, % In seconds
                {metadata_request_cooldown, 1500}, % In milliseconds
                {consumer_min_bytes, 1},
                {consumer_max_wait, 1500}
            ]},
            {topics, ["{{topic}}"]}
    ]},

  {pooler, [{metrics_module, ovn_metric},
            {pools, [{{riak_endpoints_pooler_config}}] }]},

  {vmstats, [
    {base_key, "ovn_vitalsigns_delivery"}
  ]},

  {lager, [
    {colored, true},
    {crash_log, "{{log_dir}}/{{node_name}}.crash.log"},
    {crash_log_size, 0},
    {crash_log_date, ""},
    {error_logger_hwm, undefined},
    {handlers, [
      {lager_syslog_backend, ["ovn_vitalsigns", local1, info]},
      {lager_file_backend, [{file, "{{log_dir}}/{{node_name}}.mediator.log"}, {level, debug}, {size, 104857600}, {count, 5}]}
      ]}
    ]}
].


