#{
    tests => [healthcheck],
    cluster => [
        {% set join1 = joiner(",") %}
        {% for group in ansible_group_names -%}
            {{ join1() }}{ {{group}}, [
                {% set join2 = joiner(",") %}
                {% for item in groups[group] -%}
                    {{ join2() }}{ "{{ hostvars[item]['ansible_fqdn'] }}", 22 }
                {%- endfor %}
            ]}
        {%- endfor %}
    ]
}.