## Name of the node
-name {{node_name}}

## Cookie for distributed erlang
#
# The Erlang cookie will be read from encrypted file at the time of playbook
# execution. To be backward compatible for DEV env, the original cleartext
# default is maintained.
#
-setcookie {{ovn_erlang_cookie| default('ovn') }}

-smp {{smp}}

{% if ovn_erlang_schedulers is defined %}
+S {{ovn_erlang_schedulers}}
{% endif %}

## Heartbeat management; auto-restarts VM if it dies or becomes unresponsive
## (Disabled by default..use with caution!)
##-heart

## Enable kernel poll and a few async threads
##+K true
##+A 5

## Increase number of concurrent ports/sockets
##-env ERL_MAX_PORTS 4096

## Tweak GC to run more often
##-env ERL_FULLSWEEP_AFTER 10
