[Unit]
Description=ovn_nginx_auth provides auth support to applications behind Nginx

[Service]
Type=simple
User=root
Group=root
Restart=always
RestartSec=3
TimeoutStopSec=180
StandardOutput=null
StandardError=null
WorkingDirectory={{ nginx_auth_install_dir }}
ExecStart={{ nginx_auth_install_dir }}/{{nginx_auth_name}} --config={{ nginx_auth_install_dir }}/{{ nginx_auth_config }}

[Install]
WantedBy=multi-user.target