{# Use site specific variables to create interface configuration on the rescue server #}

{% set int = rescue.int_10g_border_sw %}

BOOTPROTO=none
IPADDR={{ int.subnet_int_ip }}
PREFIX={{ int.subnet_int_ip_len }}
DEVICE={{ int.subnet_int_ip_bond_name }}
GATEWAY={{ int.subnet_int_ip_router }}
ONBOOT=yes
TYPE=Bond
BONDING_MASTER=yes
BONDING_OPTS="mode=4 miimon=100 lacp_rate=1 xmit_hash_policy=layer3+4"


