## {{ ansible_managed }}
# this is for index names to be like: syslog-YYYY.MM.DD
template(name="SYSLOG-index"
  type="list") {
    constant(value="syslog-")
    property(name="timereported" dateFormat="rfc3339" position.from="1" position.to="4")
    constant(value=".")
    property(name="timereported" dateFormat="rfc3339" position.from="6" position.to="7")
    constant(value=".")
    property(name="timereported" dateFormat="rfc3339" position.from="9" position.to="10")
}

# this is for formatting our syslog in JSON with @timestamp
template(name="plain-syslog"
  type="list") {
    constant(value="{")
      constant(value="\"@timestamp\":\"")     property(name="timereported" dateFormat="rfc3339")
      constant(value="\",\"host\":\"")        property(name="hostname")
      constant(value="\",\"severity\":\"")    property(name="syslogseverity-text")
      constant(value="\",\"facility\":\"")    property(name="syslogfacility-text")
      constant(value="\",\"tag\":\"")   property(name="syslogtag" format="json")
      constant(value="\",\"message\":\"")    property(name="msg" format="json")
    constant(value="\"}")
}
# this is where we actually send the logs to Elasticsearch (localhost:9200 by default)
action(type="omelasticsearch"
{% if elasticsearch_client_ssl_enabled == "true" %}
    server="localhost"
    serverport="{{ nginx_elasticsearch_client_port }}"
{% else %}
    server="{{ elasticsearch_host }}"
    serverport="{{ elasticsearch_port }}"
{% endif %}
    template="plain-syslog"
    searchIndex="SYSLOG-index"
    dynSearchIndex="on")
