
#
# TODO: fetch secret from Vault
#
key "rndc-key" {
        algorithm hmac-md5;
        secret "r3n/ItrXC3JAeGhH/cnLfQ==";
};

{% set servars = servers[ansible_hostname] %}

#
# Master forward zone
#

zone "{{servars.dns_zone_forward}}" {
    type master;
    file "{{bind9_zone_dir}}/{{servars.dns_zone_file_forward}}";
    allow-update { key rndc-key; };
};

#
# Master reverse zone
#
zone "{{servars.dns_zone_reverse}}" {
   type master;
   file "{{bind9_zone_dir}}/{{servars.dns_zone_file_reverse}}";
   allow-update { key rndc-key; };
};


#
# Slave zones
#

{% for slave_name in servars.slave_zones.forward %}

zone "{{slave_name}}" {
     type slave;
     file "{{bind9_zone_dir}}/{{servars.slave_zones.forward[slave_name].file}}";
     masters { {{ servars.slave_zones.forward[slave_name].master }}; };
};
   
{% endfor %}


{% for slave_name in servars.slave_zones.reverse %}

zone "{{slave_name}}" {
     type slave;
     file "{{bind9_zone_dir}}/{{servars.slave_zones.reverse[slave_name].file}}";
     masters { {{ servars.slave_zones.reverse[slave_name].master }}; };	
};
   
{% endfor %}



