{
//  {{ ansible_managed }}
    "critical_handlers": ["log", "smtp", "cli"],
    "warning_handlers": ["log", "smtp", "cli"],
    "normal_handlers": ["log", "smtp", "cli"],
    "graphite_url": "{{ graphite_url }}",
    "prefix": "[{{ graphite_beacon_env }}]",
    "cli": {
        "command": "logger -p daemon.notice -tovnmonitor Alert: ${level} ${name} Observedvalue=${value} Limit=${limit_value}"
    },
    "smtp": {
        "from": "GRAPHITE-BEACON-OVN{{ graphite_beacon_env }} <noreply@{{ ansible_nodename }}>",
        "to": ["{{ graphite_beacon_email }}"],
        "host": "{{ smtp_mailhost }}",
        "port": 25,
        "html": true
    },
    "include": ["ovnmonitor-alerts.json"]
}
