nomad.*.*.*.runtime.*
name="nomad_runtime"
type="$4"
service_name="nomad"

nomad.*.runtime.*
name="nomad_runtime"
type="$2"
service_name="nomad"

nomad.runtime.total_gc_pause_ns
name="nomad_runtime_total_gc_pause_ns"
service_name="nomad"

nomad.nomad.fsm.persist
name="nomad_fsm_persist"
service_name="nomad"

nomad.nomad.catalog.deregister
name="nomad_catalog_deregister"
service_name="nomad"

nomad.*.*.*.memberlist.health.score
name="nomad_memberlist_health_score"
service_name="nomad"

nomad.serf.queue.*
name="nomad_serf_events"
type="$1"
service_name="nomad"

nomad.serf.snapshot.appendLine
name="nomad_serf_snapshot_appendLine"
service_name="nomad"

nomad.serf.coordinate.adjustment-ms
name="nomad_serf_coordinate_adjustment_ms"
service_name="nomad"

nomad.nomad.rpc.query
name="nomad_rpc_query"
service_name="nomad"

nomad.*.nomad.session_ttl.active
name="nomad_session_ttl_active"
service_name="nomad"

nomad.raft.rpc.*
name="nomad_raft_rpc"
type="$1"
service_name="nomad"

nomad.raft.rpc.appendEntries.storeLogs
name="nomad_raft_rpc_appendEntries_storeLogs"
service_name="nomad"

nomad.raft.fsm.apply
name="nomad_raft_fsm_apply"
service_name="nomad"

nomad.raft.leader.lastContact
name="nomad_raft_leader_lastcontact"
service_name="nomad"

nomad.raft.leader.dispatchLog
name="nomad_raft_leader_dispatchLog"
service_name="nomad"

nomad.raft.commitTime
name="nomad_raft_commitTime"
service_name="nomad"

nomad.raft.replication.appendEntries.logs.*.*.*.*
name="nomad_raft_replication_appendEntries_logs"
query="${1}.${2}.${3}.${4}"
service_name="nomad"

nomad.raft.replication.appendEntries.rpc.*.*.*.*
name="nomad_raft_replication_appendEntries_rpc"
query="${1}.${2}.${3}.${4}"
service_name="nomad"

nomad.raft.replication.heartbeat.*.*.*.*
name="nomad_raft_replication_heartbeat"
query="${1}.${2}.${3}.${4}"
service_name="nomad"

nomad.nomad.rpc.request_error
name="nomad_rpc_request_errors"
service_name="nomad"

nomad.*.*.*.nomad.plan.*
name="nomad_plan_metrics"
type="$4"
service_name="nomad"

nomad.*.nomad.plan.*
name="nomad_plan_metrics"
type="$2"
service_name="nomad"

nomad.nomad.rpc.request
name="nomad_rpc_requests"
service_name="nomad"

nomad.nomad.rpc.accept_conn
name="nomad_rpc_accept_conn"
service_name="nomad"

nomad.memberlist.udp.*
name="nomad_memberlist_udp"
type="$1"
service_name="nomad"

nomad.memberlist.tcp.*
name="nomad_memberlist_tcp"
type="$1"
service_name="nomad"

nomad.memberlist.gossip
name="nomad_memberlist_gossip"
service_name="nomad"

nomad.memberlist.probeNode
name="nomad_memberlist_probenode"
service_name="nomad"

nomad.memberlist.pushPullNode
name="nomad_memberlist_pushpullnode"
service_name="nomad"

nomad.nomad.leader.barrier
name="nomad_leader_barrier"
service_name="nomad"

nomad.nomad.leader.reconcileMember
name="nomad_leader_reconcileMember"
service_name="nomad"

nomad.nomad.leader.reconcile
name="nomad_leader_reconcile"
service_name="nomad"

nomad.nomad.fsm.coordinate.batch-update
name="nomad_fsm_coordinate_batch_update"
service_name="nomad"

nomad.nomad.fsm.register
name="nomad_fsm_register"
service_name="nomad"

nomad.nomad.fsm.deregister
name="nomad_fsm_deregister"
service_name="nomad"

nomad.nomad.catalog.register
name="nomad_catalog_register"
service_name="nomad"

nomad.nomad.catalog.deregister
name="nomad_catalog_deregister"
service_name="nomad"

nomad.nomad.fsm.tombstone.reap
name="nomad_fsm_tombstone_reap"
service_name="nomad"

nomad.nomad.leader.reapTombstones
name="nomad_leader_reapTombstones"
service_name="nomad"

nomad.*.*.*.nomad.broker.*
name="nomad_broker"
type="$4"
service_name="nomad"

nomad.*.nomad.broker.*
name="nomad_broker"
type="$2"
service_name="nomad"

{% if environment_name == "prod" %}
nomad.*.*.*.*.nomad.heartbeat.*
type="$5"
{% else %}
nomad.*.*.*.nomad.heartbeat.*
type="$4"
{% endif %}
name="nomad_heartbeat_active"
service_name="nomad"

nomad.*.nomad.heartbeat.*
name="nomad_heartbeat_active"
type="$2"
service_name="nomad"

mediator.io.*
name="mediator_io"
type="$1"
service_name="ovn_mediator"

mediator.reductions
name="mediator_reductions"
service_name="ovn_mediator"

mediator.memory.*
name="mediator_memory"
type="$1"
service_name="ovn_mediator"

mediator.gc.*
name="mediator_gc"
type="$1"
service_name="ovn_mediator"

mediator.run.queue
name="mediator_run_queue"
service_name="ovn_mediator"

mediator.error.logger.queue.len
name="mediator_error_logger_queue_len"
service_name="ovn_mediator"

mediator.modules
name="mediator_modules"
service_name="ovn_mediator"

mediator.proc.*
name="mediator_proc"
type="$1"
service_name="ovn_mediator"

mediator.vip_connector.receive.from_vip.*.*
name="mediator_vip_connector_receive_from_vip"
type="$2"
msgtype="$1"
service_name="ovn_mediator"

mediator.vip_connector.send.to_vip.*.*
name="mediator_vip_connector_send_to_vip"
type="$2"
msgtype="$1"
service_name="ovn_mediator"

mediator.vip_connector.send.to_vmg.iso.*
name="mediator_vip_connector_send_to_vmg_iso"
iso_type="$1"
service_name="ovn_mediator"

mediator.vip_connector.send.to_vmg.iso.*.reject.*
name="mediator_vip_connector_send_to_vmg_iso_reject"
iso_type="$1"
reject_code="$2"
service_name="ovn_mediator"

mediator.vip_connector.forward.*
name="mediator_vip_connector_forward"
type="$1"
service_name="ovn_mediator"

mediator.processed.*
name="mediator_processed"
type="$1"
service_name="ovn_mediator"

mediator.sent.iso.*
name="mediator_sent_iso"
to="$1"
service_name="ovn_mediator"

mediator.received.iso
name="mediator_received_iso"
service_name="ovn_mediator"

mediator.vip_connector.receive.from_vip.iso.*.returned
name="mediator_vip_connector_receive_from_vip_iso_returned"
msgtype="$1"
service_name="ovn_mediator"

mediator.vip_connector.receive.from_vip.iso.*.returned
name="mediator_vip_connector_receive_from_vip_iso_returned"
msgtype="$1"
service_name="mediator"

ovn_switch.io.*
name="ovn_switch_io"
type="$1"

ovn_switch.reductions
name="ovn_switch_reductions"

ovn_switch.memory.*
name="ovn_switch_memory"
type="$1"

ovn_switch.gc.*
name="ovn_switch_gc"
type="$1"

ovn_switch.run.queue
name="ovn_switch_run_queue"

ovn_switch.error.logger.queue.len
name="ovn_switch_error_logger_queue_len"

ovn_switch.modules
name="ovn_switch_modules"

ovn_switch.proc.*
name="ovn_switch_proc"
type="$1"

ovn_switch_taskmaster.*
name="ovn_switch_taskmaster"
category="$1"

ovn_switch.reject.*.*.*
name="ovn_switch_reject_count"
mti="$1"
reject_code="$2"
station_id="$3"

pooler.*.events.*
name="pooler_events"
pool_name="$1"
event="$2"

riak.get.*
name="riak_get"
type="$1"

riak.put.*
name="riak_put"
type="$1"

riak.delete.*
name="riak_delete"
type="$1"

umf.processing.error.*
name="umf_delivery_processing_error"
feedname="$1"

umf.kafka.termination.*
name="umf_kafka_handler_terminated"
type="$1"

