JMXDISABLE="true"

SERVER_JVMFLAGS="
{% if zookeeper_enable_client_authentication == "true" or zookeeper_enable_server_authentication == "true" %}
-Djava.security.auth.login.config={{ zookeeper_install_dir }}/conf/jaas.conf
-Dzookeeper.sasl.serverconfig=Server
-Dzookeeper.allowSaslFailedClients=false
{% endif %}
{% if monitor_zookeeper_using_prometheus == "true" %}
-javaagent:{{jmx_exporter_base_dir}}/{{jmx_exporter_jar}}={{ zookeeper_jmxexporter_port }}:{{ jmx_exporter_config_dir}}/zookeeper_jmx_exporter_config.yml
{% endif %}
"

ZOO_LOG_DIR="{{ zookeeper_log_dir }}"

ZOO_LOG4J_PROP="INFO,CONSOLE,ROLLINGFILE"

CLIENT_JVMFLAGS="
{% if zookeeper_enable_client_authentication == "true" %}
-Dzookeeper.sasl.client=true
-Djava.security.auth.login.config={{ zookeeper_install_dir }}/conf/jaas.conf
-Dzookeeper.sasl.clientconfig=Client
-Dzookeeper.sasl.client.username={{ zookeeper_principal_name }}
{% else %}
-Dzookeeper.sasl.client=false
{% endif %}
"
