job "{{ vss_config_run_nomad }}" {
  region = "global"
  datacenters = ["{{ vic_identity|trim }}"]

  type = "batch"

  periodic {
    cron             = "5 15 * * * *"
    prohibit_overlap = true
  }

constraint {
    attribute = "${node.class}"
    value     = "vss"
  }
  priority = 100

  group "{{ vss_config_run_nomad }}" {
  
    restart {
      attempts = 419
      delay    = "60s"
	  interval = "7h"
      mode = "fail"
    }
  
    task "{{ vss_config_run_nomad }}Task" {
      user = "{{ vss_username }}"
      driver = "raw_exec"
        logs {
          max_files     = 10
          max_file_size = 10
        }
        config {
          command = "/bin/bash"
          args = ["{{ vss_binaries_path }}/configRun.sh"]
        }
    }
  }
  
}
