#./fetchConfig.sh -f 10.207.189.70 -p /var/vsftpd/ovnext3 -u root -d /opt/app/vss/input

while [[ $# -gt 1 ]]
do
key="$1"

case $key in
    -f|--from)
    FROM="$2"
    shift # past argument
    ;;
    -u|--user)
    USER="$2"
    shift # past argument
    ;;
    -i|--identity)
    KEY="$2"
    shift # past argument
    ;;
    -p|--path)
    FILEPATH="$2"
    shift # past argument
    ;;
    -d|--destination)
    DESTINATION="$2"
    shift # past argument
    ;;
    *)
    ;;
esac
shift # past argument or value
done

ssh -i $KEY -q $USER@$FROM [[ -f $FILEPATH/endOfConfig.txt ]] && echo "MVS transfer has been completed, downloading Config and PARM:" || exit 1;

scp -i $KEY $USER@$FROM:$FILEPATH/zos.cfg $DESTINATION
if [[ $? == 0 ]]; then
  echo "Config transfer successful."
else
  echo "Failed to transfer Config!"
  exit 1
fi

scp -i $KEY $USER@$FROM:$FILEPATH/VS_PARM_IN.txt $DESTINATION
if [[ $? == 0 ]]; then
  echo "PARM transfer successful."
  ssh -i $KEY -q $USER@$FROM "rm -rf $FILEPATH/endOfConfig.txt"
else
  echo "Failed to transfer PARM!"
  exit 1
fi

exit 0