[Unit]
Description=OVN {{name}}
After=epmd.service syslog.target network.target
Requires=epmd.service

[Service]
User={{name}}
Group={{name}}
StandardOutput=null
StandardError=journal
Type=forking
GuessMainPID=no
IgnoreSIGPIPE=false
Environment=PIPE_DIR=/tmp/erl_pipe_{{name}}/
ExecStart=/opt/{{name}}/bin/{{service_name}} start
Restart=on-failure
ExecStop=/opt/{{name}}/bin/{{service_name}} stop
TimeoutStopSec=60
KillMode=control-group
WorkingDirectory=/opt/{{name}}
EnvironmentFile=/etc/ovn_time
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
