#Input
<worker 0>
  <source>
    @type tail
    path /var/log/kafka/@*.log, /var/log/zookeeper/@*.log
    pos_file /opt/app/td-agent/td_agent_kafka_tail.pos
    tag ovn.log.{{ td_agent_mode }}.kafka
    format multiline
    format_firstline /^\[(?<logTimestamp>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\,\d{3}\][^ ]*)/
    format1 /^\[(?<logTimestamp>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\,\d{3}\][^ ]*)\s+\[(?<severity>[^ ]+)\][\s]+\[(?<class>[^ ]+)\]\s+(?<payload>(.*[\n]*)*)$/
    read_from_head true
    limit_recently_modified 7d
  </source>
</worker>

#Discard debug logs
<filter ovn.log.{{ td_agent_mode }}.kafka>
  @type grep
  <exclude>
    key severity
    pattern ^(DEBUG|TRACE|debug|trace)$
  </exclude>
</filter>

#Transform
<filter ovn.log.{{ td_agent_mode }}.kafka>
  @type record_transformer
  enable_ruby
  <record>
   logTimestamp ${ Time.parse(record["logTimestamp"]).strftime("%Y-%m-%dT%H:%M:%S.%L"); }
   hostname {{ ansible_hostname }}
   index_prefix fluentd_kafka
  </record>
</filter>