#Input
<worker 0>
  <source>
    @type tail
    path /var/log/yummirrors/yummirrors.log
    pos_file /opt/app/td-agent/td_agent_yummirrors_tail.pos
    tag ovn.log.{{ td_agent_mode }}.yummirrors
    format json
    read_from_head true
    limit_recently_modified 7d
  </source>
</worker>

#Transform
<filter ovn.log.{{ td_agent_mode }}.yummirrors>
  @type record_transformer
  enable_ruby
  <record>
   index_prefix fluentd_yummirrors
  </record>
</filter>