#!/bin/bash
###############################
#
# Script to clean /tmp directory
#
##############################

# This file accepts two parameters 1. tmp_max_percUse_limit 2. delete_file_in_each_cycle

#To get the current /tmp usage
tmpUsedPercent=$(df -h --output=target,pcent /tmp | awk ' NR==2 { print $2 } '|awk -F "%" '{print $1}')


#Poll the /tmp used percentage
while [ $tmpUsedPercent -ge $1 ]
do
	#get the full path of the old files and store in oldFiles
	oldFiles=$(cd /tmp && ls -tr $(find * -type f )|head -$2)
        for i in $oldFiles
        do
  
	#Delete old files from tmp directory
	rm -rf /tmp/$i
	done
	tmpUsedPercent=$(df -h --output=target,pcent /tmp | awk ' NR==2 { print $2 } '|awk -F "%" '{print $1}')
done
#Delete all the empty directories inside /tmp
find /tmp/* -type d -empty -delete

