[Unit]
Description=Spark Mesos Dispatcher
After=network.target
Wants=network.target

[Service]
Environment="SPARK_MESOS_DISPATCHER_HOST={{public_ip}}"
ExecStart={{work_dir}}/sbin/start-mesos-dispatcher.sh --master mesos://{{mesos_master}} --zk {{zookeeper_hostnames}}
Type=forking
Restart=always
RestartSec=20
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target