---
# Curator files to delete all the elastic search indices which are older than specified period
actions:
{% set exclude = []  %}
{% set last = [] %}
{% for log_pattern in curator_log_patterns_old_indicies %}

  {{loop.index}}:
    action: delete_indices
    description: Delete indices({{ log_pattern }}) older than {{ curator_log_patterns[log_pattern] }} days
    options: 
      ignore_empty_list: True
      timeout_override: 300
    filters:
    - filtertype: age
      source: name
      direction: older
      timestring: "%Y.%m.%d"
      unit: days
      unit_count: {{ curator_log_patterns_old_indicies[log_pattern] }}
    - filtertype: pattern
      kind: regex
      value: {{ log_pattern }}
      exclude: False
{% endfor %}
