#{{ ansible_managed }}
{# 
    location.conf.j2 template is required for providing support of templates in nginx_locations.
    For each entry in location, it will create a unique location file under the given site.
    e.g.
        nginx_locations:
            - site: default
                - name: app
                  location: 
                    - location / {
                        proxy_pass http://app;
                      }
    will create app.conf under default folder (basically default corresponding to default site) having 
        location / {
            proxy_pass http://app;
        }
#}

{% for v in item.1.location %}
{% if v.find('\n') != -1 %}
{{v}}
{% else %}
{% if v != "" %}{{ v.replace(";",";\n   ").replace(" {"," {\n    ").replace(" }"," \n}\n") }}{% if v.find('{') == -1%};
{% endif %}{% endif %}{% endif %}
{% endfor %}
