#{{ ansible_managed }}
{# 
    site.conf.j2 template is required for providing support of templates in nginx_sites.
    For each site in nginx_sites, it will create site.conf.
    e.g. 
        nginx_sites:
            - default:
                - listen 8443;
                - server_name localhost;
    
    will be converted to default.conf having
        server {
            listen 8443;
            server_name localhost;
        }
#}

server {
{% for v in item.value %}
{% if v.find('\n') != -1 %}
   {{v.replace("\n","\n   ")}}
{% else %}
   {% if v != "" %}{{ v.replace(";",";\n      ").replace(" {"," {\n      ").replace(" }"," \n   }\n") }}{% if v.find('{') == -1%};
{% endif %}{% endif %}{% endif %}
{% endfor %}
    client_max_body_size 100M;
    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-Content-Type-Options "nosniff";
    add_header X-XSS-Protection "1; mode=block";
    add_header Strict-Transport-Security "max-age=31536000; includeSubdomains";
    add_header Content-Security-Policy "default-src 'none'; script-src https: 'unsafe-inline' 'unsafe-eval'; img-src 'self' data: https: ;style-src 'self' blob: https: 'unsafe-inline';font-src 'self' https: 'unsafe-inline'; frame-src 'self' https: 'unsafe-inline'; object-src 'self' https: 'unsafe-inline'; connect-src 'self' ws: wss: https: 'unsafe-inline' 'unsafe-eval'";
    include {{nginx_conf_dir}}/{{item.key}}/*.conf;
}