{# Template for creating the group variable file for Cumulus OOB switch #}


#
# Interfaces
#
interfaces:
  {{ ovn_oob_srv_name }}:
  loopback: {{ oob_srv_lo }}
  eth0: {{ oob_srv_ip_mgmt }}
  networks:
    bridge:
      port_range: "glob swp1-40"
      vlan_id: {{ oob_srv_vlan_id }}
      vlan_ip: "{{ oob_srv_ip_mgmt }}/{{ oob_srv_ip_len }}"

    #bonds: TBD


    {{ ovn_oob_sw_name }}:
      loopback: {{ oob_sw_lo }}
      networks:
        bridge:
           port_range: "glob swp1-20"
           vlan_id: {{ oob_sw_vlan_id }}
           vlan_ip: "{{ oob_sw_ip_mgmt }}/{{ oob_sw_ip_len }}"
	   
    # bonds TBD

       
