# {{ ansible_managed }}
# DEFAULT ELASTALERT RULE - for initial population of the rules directory on deployment
# Rules in the rules folder will be deployed by a subsequent deployment process
# We need at least one rule for the service to start successfully
#
name:               DEFAULT_ELASTALERT_RULE
description:        'Base rule for deployment testing'
type:               any
use_strftime_index: true
timestamp_field:   '@timestamp'
index:             'syslog-%Y.%m.%d'
filter:
- query_string:
      query: 'severity:warning'

# Alert transport specifics
alert:
- email
email:
- "{{ elastalert_emailaddr }}"