{# Python script to modify dashboard json files fetch from artifactory #}

import json
import sys
import re
import os

def modifyJsonFile( filename):
    
    with open(filename, "r") as jsonFile:
        data = json.load(jsonFile)

    # Modifying the title name
    dashboard_title = data['title']
    env_regex = "(?i)(TEST[0-9]?|INTG[0-9]?|PEN[0-9]?|DEV[0-9]?|PROD[0-9]?)"
    pattern = re.compile(env_regex)
    if pattern.match(dashboard_title):
        dashboard_title = re.sub(env_regex,"{{environment_name|upper}}",dashboard_title)
    else:
        dashboard_title += "{{environment_name}} "
    data['title'] = dashboard_title

    # Wrapping the existing json file with dashboard key
    data_modified={}
    data_modified['dashboard'] = data
    data_modified['overwrite']={{grafana_dashboard_override_enabled|bool}}
    
    data_modified = json.dumps(data_modified, encoding="utf-8",indent=4)
    data_modified = json.loads(data_modified)
    
    with open(filename, "w") as jsonFile:
        json.dump(data_modified, jsonFile)

if __name__ == "__main__":
    for filename in os.listdir("{{grafana_dashboard_json_path}}/{{grafana_dashboard_archive_base}}"):
        if filename.endswith(".json"): 
            modifyJsonFile("{{grafana_dashboard_json_path}}/{{grafana_dashboard_archive_base}}/"+filename)
        else:
            continue