[logging]
  kdc = SYSLOG:INFO:LOCAL7
  admin_server = SYSLOG:INFO:LOCAL7

[kdcdefaults]
  kdc_ports = {{ kerberos_kdc_port }}
  kdc_tcp_ports = {{ kerberos_kdc_port }}

[realms]
  {{ kerberos_realm_name | upper() }} = {
    kadmind_port = {{ kerberos_kadmind_port }}

    acl_file = /var/kerberos/krb5kdc/kadm5.acl
    dict_file = /usr/share/dict/words
    admin_keytab = /var/kerberos/krb5kdc/kadm5.keytab

    supported_enctypes = aes256-cts-hmac-sha1-96:normal
 }
