includedir /etc/krb5.conf.d/

[logging]
  kdc = SYSLOG:INFO:LOCAL7
  admin_server = SYSLOG:INFO:LOCAL7

[libdefaults]
  default_realm = {{ kerberos_realm_name | upper() }}
  dns_lookup_realm = {{ kerberos_dns_lookup_realm }}
  dns_lookup_kdc = {{ kerberos_dns_lookup_kdc }}
  ticket_lifetime = {{ kerberos_ticket_lifetime }}
  renew_lifetime = {{ kerberos_renew_lifetime }}
  forwardable = {{ kerberos_forwardable }}

[realms]
  {{ kerberos_realm_name | upper() }} = {
    kadmind_port = {{ kerberos_kadmind_port }}
    kdc_port = {{ kerberos_kdc_port }}
{% for item in groups.kerberos_server %}
    kdc = {{ item }}
    admin_server = {{ item }}
{% endfor %}
  }

  {% if kerberos_xdc_enabled %}
  {{ kerberos_xdc_realm_name | upper() }} = {
    kadmind_port = {{ kerberos_kadmind_port }}
    kdc_port = {{ kerberos_kdc_port }}
{% for item in remote_kerberos_server_members %}
    kdc = {{ item }}
{% endfor %}
{% for item in remote_kerberos_server_members %}
    admin_server = {{ item }}
{% endfor %}
  }
  {% endif %}

[domain_realm]
  .visa.com = {{ kerberos_realm_name | upper() }}
  visa.com  = {{ kerberos_realm_name | upper() }}
  {{ kerberos_domain_realm }}

{% if kerberos_xdc_enabled %}
[capaths]
  {{ kerberos_realm_name | upper() }} = {
    {{ kerberos_xdc_realm_name }} = .
  }
{% endif %}
