---
cassandra:
  connections-per-host: 2
  keyspace: "{{ jaeger_cassandra_keyspace }}"
  max-retry-attempts: 3
  password: "{{ jaeger_cassandra_password }}"
  port: {{ jaeger_cassandra_port }}
  proto-version: 4
  servers: "{{ groups['cassandra_servers'] | join(',') }}"
  socket-keep-alive: 0
  timeout: 0
  username: "{{ jaeger_cassandra_username }}"
collector:
  health-check-http-port: 14269
  http-port: 14268
  num-workers: 50
  port: 14267
  queue-size: 2000
  write-cache-ttl: 12h0m0s
  zipkin:
    http-port: 9411
dependency-storage:
  data-frequency: 24h0m0s
log-level: "info"
span-storage:
  type: "cassandra"
