{
  "server": {{ "true" if consul_mode_is_server else "false" }},
  "bind_addr":"{{ inventory_hostname }}",
{% if datacenter %}
  "datacenter": "{{datacenter}}",
{% endif %}
{% if consul_mode_is_server %}
  "bootstrap_expect": {{groups['ovn_cluster_consul_nodes']|length}},
  "data_dir": "{{ dir.data.server }}",
{% else %}
  "data_dir": "{{ dir.data.client }}",  
{% endif %}
  "ca_file": "{{dir.config}}/ssl/{{tls.ca_file}}",
  "cert_file":"{{dir.config}}/ssl/{{tls.cert_file}}",
  "key_file":"{{dir.config}}/ssl/{{tls.key_file}}",
  "verify_outgoing": true,
  "verify_incoming": true,
  "verify_server_hostname": true,
{% if inventory_hostname != groups['ovn_cluster_secret_mgmt_nodes'][0] %}
  "retry_join": ["{{ groups['ovn_cluster_secret_mgmt_nodes'][0]}}"],
{% endif %}
  "ports": {
     "http"  : {{tls.http_port}},
     "https" : {{tls.https_port}}
   }
}
