---
#hostPort: localhost:50070
#jmxUrl: service:jmx:rmi:///jndi/rmi://127.0.0.1:8004/jmxrmi
#username:
#password:
#export all metrics for now. We will change this later to export specific metrics only
lowercaseOutputName: true
rules:
- pattern: ".*"
