[Unit]
Description=udp-repeater for udp port replication
After=network.target

[Service]
Type=simple
User={{ prometheus_user }}
Group={{ prometheus_group }}
Restart=always
RestartSec=3
TimeoutStopSec=180
StandardOutput=null
StandardError=null
WorkingDirectory={{ udp_repeater_base_dir }}
ExecStart={{ udp_repeater_base_dir }}/udp_repeater -l 127.0.0.1 -p {{ udp_repeater_listen_port }} -s 127.0.0.1:{{ udp_repeater_exporter_port }} -s 127.0.0.1:{{ udp_repeater_heka_port }}

[Install]
WantedBy=multi-user.target