#!/bin/bash

###########################################################################################################
# we use this below curl command for post and get calls to interact with Nomad via web interface
# jq is a json parser. installing jq is part of nomad deploy. When we deploy fresh we still have the
# previous installed jobs in the queue. To remove these jobs we call this curl command and post a message
# to initiate the garbage collector trigger.
# This interface is only available via web interface and hence the curl used.
###########################################################################################################

curl -L --key {{nomad_cert_install_dir}}/cli-key.pem  --cert {{nomad_cert_install_dir}}/cli.pem  --cacert {{nomad_cert_install_dir}}/nomad-ca.pem  https://{{ ansible_nodename }}:{{ nomad_server_http_port }}/v1/jobs | jq -r '.[].ID' | while read id ; do
    if [[ "$id" != *"VSS"* ]] && [[ "$id" != *"configInitNomad"* ]] && [[ "$id" != *"configRunNomad"* ]] && [[ "$id" != *"delivery_job"* ]];
    then
      echo "Deleting clearing job ${id}"
      curl -v -L --key {{nomad_cert_install_dir}}/cli-key.pem  --cert {{nomad_cert_install_dir}}/cli.pem  --cacert {{nomad_cert_install_dir}}/nomad-ca.pem --request DELETE https://{{ ansible_nodename }}:{{ nomad_server_http_port }}/v1/job/${id}
    else
      echo "Skipping non clearing job ${id}"
    fi
done
 curl -v -L --key {{nomad_cert_install_dir}}/cli-key.pem  --cert {{nomad_cert_install_dir}}/cli.pem  --cacert {{nomad_cert_install_dir}}/nomad-ca.pem --request PUT https://{{ ansible_nodename }}:{{ nomad_server_http_port }}/v1/system/gc
 {{nomad_server_install_dir}}/nomad status -ca-cert={{nomad_cert_install_dir}}/nomad-ca.pem -client-cert={{nomad_cert_install_dir}}/cli.pem -client-key={{nomad_cert_install_dir}}/cli-key.pem -address=https://{{ ansible_nodename }}:{{ nomad_server_http_port }}