[Unit]
Description=opscenter server instance
After=network-online.target

[Service]
User=root
Group=root
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecStart={{dstax511_ovn_datastax['dstax511_dse']['dstax511_installed_foldr']}}/bin/dse cassandra -R
ExecStop={{dstax511_ovn_datastax['dstax511_dse']['dstax511_installed_foldr']}}/bin/dse cassandra-stop


[Install]
WantedBy=multi-user.target