jmx_host: {{ dstax511_ovn_datastax['dstax511_agent']['dstax511_jmx_host'] }}

jmx_port: {{ dstax511_ovn_datastax['dstax511_agent']['dstax511_jmx_port'] }}

dstax511_local_interface: " "
dstax511_agent_rpc_interface: " "

use_ssl: 0
stomp_interface: {{ dstax511_ovn_datastax['dstax511_agent']['dstax511_stomp_interface'] }}

