## {{ ansible_managed }} ##

# Slower monitor - sends warning to SYSLOG when state is incorrect ( every 10 minutes )
# state changes are level triggered.
[monitorPsuProcessInput]
type = "ProcessInput"
ticker_interval = 600
stdout = false
stderr = true
    [monitorPsuProcessInput.command.0]
     bin = "/usr/local/bin/OVN_monitor_psu.sh"

# Slower monitor - sends warning to SYSLOG when state is incorrect ( every 16 minutes )
# state changes are level triggered.
[monitorCpuProcessInput]
type = "ProcessInput"
ticker_interval = 960
stdout = false
stderr = true
    [monitorCpuProcessInput.command.0]
     bin = "/usr/local/bin/OVN_monitor_cpu.sh"


