## {{ ansible_managed }}
[Netdev]
type = "FilePollingInput"
ticker_interval = 3
file_path = "/proc/net/dev"
decoder = "NetdevDecoder"

[NetdevDecoder]
type = "SandboxDecoder"
filename = "lua_decoders/linux_netdev.lua"

[NetdevCarbonLineEncoder]
type = "SandboxEncoder"
filename = "lua_encoders/schema_carbon_line.lua"
   [NetdevCarbonLineEncoder.config]
   name_prefix = "{{ ansible_hostname }}.net_dev"


[NetdevOut]
type = "TcpOutput"
encoder = "NetdevCarbonLineEncoder"
message_matcher = "Type == 'stats.netdev'"
address = "{{ carbon_host }}:{{ carbon_port }}"

        [NetdevOut.buffering]
        max_buffer_size = {{ heka_total_buffer_size  }}         #Maximum amount of disk space (in bytes) that the entire queue buffer can consume.
        full_action = {{ heka_action_on_max_buffer }}           #Action on full buffer
        max_file_size = {{ heka_buffer_file_size  }}            #Size of each file in the queue buffer
        cursor_update_count = {{ heka_cursor_update_count  }}   #Number of updateCursor calls must be made before the cursor location is flushed to disk.
