#!/bin/sh
## {{ ansible_managed }}
# Filename: OVN_VMmetrics.sh
# Purpose:  Shell script to collect Linux VM metrics and send to statsd
#           It is expected that this would be run every 10 seconds
# -------------------------------------------------------------------------
declare -A statsd
idlep=$(vmstat | awk '(NR==2){for(i=1;i<=NF;i++)if($i=="id"){getline; print $i}}')
if echo $idlep | egrep -q '^[0-9]+$'; then
    CPUpct=$((100 - $idlep))
else
    echo "ERROR: Unable to collect vmstat data.."
    exit 1
fi
#printf "CPUpct: %s\n" $CPUpct

if [ $CPUpct -ge 99 ]; then
     logger -p syslog.crit -t {{ monitoring_tag }} -s "Alert: CPU is running at max capacity ( $CPUpct% )"
elif [ $CPUpct -ge 80 ] ; then
     logger -p syslog.warning -t {{ monitoring_tag }} -s "Alert: CPU is running HOT ( $CPUpct% )"
fi
statsd[0]="CPUpct:$CPUpct|g"

memTotal=$(grep 'MemTotal' /proc/meminfo | awk '{print $2}')
memFree=$(grep 'MemFree' /proc/meminfo | awk '{print $2}')
memActive=$(grep 'Active:' /proc/meminfo | awk '{print $2}')
memusedpct=$(( 100 * $memActive / $memTotal))

if [ $memusedpct -ge 99 ]; then
     logger -p syslog.crit -t ovnmonitor -s "Alert: Memory is running at max capacity ( $memusedpct% )"
elif [ $memusedpct -ge 95 ] ; then
     logger -p syslog.warning -t ovnmonitor -s "Alert: Memory usage is pretty high ( $memusedpct% )"
fi
statsd[1]="memoryTotal:$memTotal|g"
statsd[2]="memoryFree:$memFree|g"
statsd[3]="memoryActive:$memActive|g"
statsd[4]="memoryInUsePct:$memusedpct|g"

# can probably write this better and more efficiently with only one udp connect
TCPsock_wait=$(ss -tn | grep WAIT | wc -l)
TCPsock_estab=$(ss -tn | grep ESTAB | wc -l)
TCPsock_listen=$(ss -tnl | grep LISTEN | wc -l)
UDP_listen=$(ss -ul | wc -l)

statsd[5]="TCPsock_wait:$TCPsock_wait|g"
statsd[6]="TCPsock_estab:$TCPsock_estab|g"
statsd[7]="TCPsock_listen:$TCPsock_listen|g"
statsd[8]="UDPlisten:$UDPlisten|g"

for i in "${statsd[@]}";do echo "$i";done | nc -u -w1 {{ statsd_host }} {{ heka_statsd_port }}
