## {{ ansible_managed }}

[Unit]
Description=Bro intrusion detection system
After=network.target

[Service]
User=root
Group=bro
StandardOutput=journal
StandardError=journal
Type=forking
ExecStart=/opt/bro/bin/broctl deploy
Restart=on-failure
ExecStop=/opt/bro/bin/broctl stop
TimeoutStopSec=10
KillMode=control-group

#[Install]
#WantedBy=multi-user.target
