#!/bin/bash

# Push output logs to fluentd aggregator

SRC_HOST=`hostname`
SRC_DIR="{{ vss_binaries_path }}"
RPT_DATE=`date +"%Y%m%d"`
PREV_RPT_DATE=`date +"%Y%m%d" --date="yesterday"`
DEST_USER="{{ vss_username }}"
DEST_HOST="{{ vss_fluentd_aggregator  }}"
DEST_BASE_DIR="{{ vss_root_path }}/output"
DEST_DIR="$DEST_BASE_DIR/$RPT_DATE/$SRC_HOST"
ARCH_DIR="{{ vss_root_path }}/archive/output"
OUTPUT_FILES="distributionoutput_${RPT_DATE}_*.txt endoutput_${RPT_DATE}_*.txt monthlyoutput_${RPT_DATE}_*.txt reportoutput_${RPT_DATE}_*.txt startoutput_${PREV_RPT_DATE}_*.txt yearoutput_${RPT_DATE}_*.txt inpaInitLog_${RPT_DATE}_*.txt inpaRunLog_${RPT_DATE}_*.txt configInitLog_${PREV_RPT_DATE}_*.txt configRunLog_${PREV_RPT_DATE}_*.txt configInitCheckLog_${PREV_RPT_DATE}.txt"
SSH_KEY="{{ vss_ssh_private_key }}"

cd $SRC_DIR
ssh -i $SSH_KEY $DEST_USER@$DEST_HOST "mkdir -p $DEST_DIR; chown -R {{ vss_username }}:{{ vss_username }} $DEST_BASE_DIR/$RPT_DATE" || exit -1
for file in $OUTPUT_FILES
do
    if [ -f $file ]
      then
        scp -i $SSH_KEY $file $DEST_USER@$DEST_HOST:$DEST_DIR || exit -1
      else
        echo "File does not exist : $file"
    fi
done
ssh -i $SSH_KEY $DEST_USER@$DEST_HOST "chown -R {{ vss_username }}:{{ vss_username }} $DEST_BASE_DIR/$RPT_DATE"
if [[ $? == 0 ]]; then
  echo "Archiving report files..."
  for file in $OUTPUT_FILES
    do
      if [ -f $file ]; then
        tar cvzf "$ARCH_DIR"/$file.tar.gz $file
        if [[ "$?" == 0 ]]; then
          rm $file;
        else
          echo "Error occured during archive"
          exit 1
        fi
      fi
    done
  echo "Archival of report files successful..."
else
  echo "Errors occured after scp session..."
  exit 1
fi

exit 0

