#! /bin/bash

# Runs the VSS wrapper and push the output logs

function run(){
    env HADOOP_CONF_DIR={{ vss_hadoop_conf_directory }} HADOOP_USER_NAME={{ vss_hadoop_username }} {{ vsswrapper_root_path }}/bin/vsswrapper -config={{ vsswrapper_root_path }}/config/vsswrapper.yml -no-hdfs=true
    mainRet=$?
    sh {{ vss_binaries_path }}/pushoutputlogs.sh
    return $mainRet
}

run
