#{{ ansible_managed }}
{# 
    config.conf.j2 template is required for providing support of templates in nginx_configs.
    For each entry in nginx_configs, this template will be used to create actual nginx config
    e.g. 
        nginx_configs:
            upstream:
                - upstream backend { server http://localhost:8080; }
    
    will be converted to upstream.conf having the following content
        upstream backend {
            server http://localhost:8080;
        }
#}

{% for v in item.value %}
{% if v.find('\n') != -1 %}
{{v}}
{% else %}
{% if v != "" %}{{ v.replace(";",";\n   ").replace(" {"," {\n    ").replace(" }"," \n}\n") }}{% if v.find('{') == -1%};
{% endif %}{% endif %}{% endif %}
{% endfor %}
