{# Use site specific variables to create interface configuration on the rescue server #}

{% set int = rescue.int_1g_oob_sw_swp1 %}

BOOTPROTO=none
IPADDR={{ int.subnet_int_ip }}
PREFIX={{ int.subnet_int_ip_len }}
DEVICE={{ int.subnet_int_ip_name }}
#GATEWAY={{ int.subnet_int_ip_router }}
ONBOOT=yes

