[
  {kernel,[
    {inet_dist_use_interface, {{erlang_dist_ip}}},
    {inet_dist_listen_min, {{inet_dist_listen_min}}},
    {inet_dist_listen_max, {{inet_dist_listen_max}}}
  ]},

  {ovn_advice, [
    {environment, {{environment}}},
    {data_dir,    "{{data_dir}}"},
    {advice_db_node, {{switch_nodes}}}
  ]},

  {ovn_opdb, [
    {riak_client_pool, {
      [{size, {{ovn_opdb_pool}}},
       {max_overflow, {{ovn_opdb_max_overflow}}}],
      {{riak_endpoints}} }}
  ]},

  {ovn_yoke, [
    {services, [
      {to_ovn_mediator, [{endpoints, {{mediator_endpoints}}}]}
    ]}
  ]},

  {ovn_acceptor, [
    {services, [
      {from_mediator, [{service_ip,   {{advice_acceptor_ip_for_mediator}}},
                       {service_port, {{advice_acceptor_port_for_mediator}}},
                       {ssl_options,  []},
                       {handler,      ovn_advice_mediator_handler}]}
    ]}
  ]},

  {lager, [
    {colored, true},
    {crash_log, "{{log_dir}}/{{node_name}}.crash.log"},
    {crash_log_size, 0},
    {crash_log_date, ""},
    {error_logger_hwm, undefined},
    {handlers, [
      {lager_syslog_backend, ["advice", local1, info]},
      {lager_file_backend, [{file, "{{log_dir}}/{{node_name}}.advice.log"}, {level, info}, {size, 104857600}, {count, 5}]}
      ]}
    ]}

].
