#nomad vss client configuration file

bind_addr = "0.0.0.0" # the default

data_dir  = "{{nomad_data_dir}}"

datacenter = "{{ vic_identity | regex_replace(' $', '') }}"

ports {
  http = {{nomad_client_http_port}}
  rpc = {{nomad_client_rpc_port}}
}

advertise {
  http = "{{hostvars[inventory_hostname]['ansible_'+default_iface]['ipv4']['address']}}:{{nomad_client_http_port}}"
  rpc = "{{hostvars[inventory_hostname]['ansible_'+default_iface]['ipv4']['address']}}:{{nomad_client_rpc_port}}"
}

client {
  enabled       = true
  servers       = [ {{nomad_server_members}} ]
  options = {
    "driver.raw_exec.enable" = "1"
  }
  node_class    = "vss"
  chroot_env = {
    "/opt/app" = "/opt/app",
    "/usr" = "/usr",
    "/bin" = "/bin",
    "/lib" = "/lib",
    "/lib64" = "/lib64",
    "/etc" = "/etc"
  }
}

{% if nomad_enable_tls %}

tls {
  http = true
  rpc  = true

  ca_file   = "{{nomad_cert_install_dir}}/nomad-ca.pem"
  cert_file = "{{nomad_cert_install_dir}}/client.pem"
  key_file  = "{{nomad_cert_install_dir}}/client-key.pem"

  verify_server_hostname = true
  verify_https_client    = true
}

{% endif %}

telemetry {
   publish_allocation_metrics = true
   publish_node_metrics = true
   statsd_address = "{{statsd_host}}:{{statsd_port}}"
}

disable_update_check = true

enable_syslog = true

log_level = "INFO"
