
bind_addr = "0.0.0.0" # the default

data_dir  = "{{nomad_data_dir}}"

datacenter = "{{ vic_identity | regex_replace(' $', '') }}"

ports {
  http = {{nomad_server_http_port}}
  rpc  = {{nomad_server_rpc_port}}
  serf = {{nomad_server_serf_port}}
}

advertise {
  http = "{{hostvars[inventory_hostname]['ansible_'+default_iface]['ipv4']['address']}}:{{nomad_server_http_port}}"
  rpc  = "{{hostvars[inventory_hostname]['ansible_'+default_iface]['ipv4']['address']}}:{{nomad_server_rpc_port}}"
  serf = "{{hostvars[inventory_hostname]['ansible_'+default_iface]['ipv4']['address']}}:{{nomad_server_serf_port}}"
}

server {
  enabled          = true
  bootstrap_expect = {{groups['nomad_server'] | length}}
  retry_join       = [ {{nomad_server_join}} ]
  {% if nomad_enable_tls %}
  encrypt = "{{gossip_encryption_key}}"
  {% endif %}
}

telemetry {
   publish_allocation_metrics = true
   publish_node_metrics = true
   statsd_address = "{{statsd_host}}:{{statsd_port}}"
}
{% if nomad_enable_tls %}
tls {
  http = true
  rpc  = true

  ca_file   = "{{nomad_cert_install_dir}}/nomad-ca.pem"
  cert_file = "{{nomad_cert_install_dir}}/server.pem"
  key_file  = "{{nomad_cert_install_dir}}/server-key.pem"

  verify_server_hostname = true
  verify_https_client    = true
}
{% endif %}
disable_update_check = true

enable_syslog = true

log_level = "INFO"
