#
# BIND9 options
#

{% set servars = servers[ansible_hostname] %}

options {

    directory "{{bind9_zone_dir}}";

    listen-on port {{bind9_listening_port}} { 127.0.0.1; {{servars.subnet_int_ip}}; };

    allow-query {

       {% for domain in servars.dns_allow_query_domains %}
         {{ domain }};
       {% endfor %}

       127.0.0.1;
    };

    allow-transfer {

       {% for domain in servars.dns_allow_transfer_domains %}
         {{ domain }};
       {% endfor %}

       127.0.0.1;

    };

};

