[Unit]
Description=exporter for collecting data about HSM
After=network.target

[Service]
Type=simple
User={{ prometheus_user }}
Group={{ prometheus_group }}
Restart=always
RestartSec=3
TimeoutStopSec=180
StandardOutput=null
StandardError=null
WorkingDirectory={{ ovn_monitoring_exporter_base_dir }}

ExecStart={{ ovn_monitoring_exporter_base_dir }}/ovn_monitoring_exporter -web.listen-address {{ ovn_monitoring_exporter_address }}  -collectors.enabled {{ ovn_monitoring_exporter_name }} -scrape-URI {{hsm_address}} -ssl-service-enabled {{hsm_ssl_enabled}}

[Install]
WantedBy=multi-user.target