#!/bin/bash
## {{ ansible_managed }}
# Filename: OVN_servicemon.sh
# Purpose:  check the systemd services that are in the list and
#           It is expected that this would be run every 10 seconds
#
function makestatsd() {
    case "$2" in
    enabled)
        output="service.status.$1:1|c"
        ;;
    static)
        output="service.status.$1:1|c"
        ;;
    disabled)
        output="service.status.$1:0|c"
        ;;
    *)
        output="service.status.$1:99|c"
    esac
    echo $output | nc -u 127.0.0.1 8125
}

if data=$(systemctl list-unit-files|grep service); then
    echo 'reading systemd service data... to mark availablility of watched/enabled services'
    servicelist='crond|firewalld|ntpd|rsyslog|sshd'
    servicelist+='|riak|epmd|ftps|haproxy|bro|consul|vault|httpd|tftp|dhcpd|haproxy'
    servicelist+='|ovn_switch|mediator|ovn_vitalsigns_delivery|ovn_vip_ef_sync'
    servicelist+='|ovn_umf_delivery_ub|ovn_umf_delivery_ub2|ovn_umf_delivery_apf|ovn_multidc_sync'
    servicelist+='|kafka|kafka_mirror_maker|jmxtrans|zookeeper'
    servicelist+='|nomad-server|nomad-client'
    servicelist+='|elasticsearch|heka|hekad|kibana|grafana-server|graphite-beacon|carbon-cache'
    IFS=$'\n'
    while read line
     do
       IFS=' ' read -r -a array <<< "$line"
       stringZ=${array[0]}
       name=${stringZ%.service}
       test "${servicelist#*$name}" != "$servicelist" && makestatsd $name ${array[1]}

     done <<< "$data"
else
    echo 'systemd data is not available'
    exit 1
fi