#!/bin/sh
## {{ ansible_managed }}
# Filename: OVN_monitor_psu.sh
# Purpose:  Shell script to check if PSU state is Safe
#           alert by sending message to the syslog (which is monitored by elastalert)
# Dependencies: logger  dmidecode
#
# -------------------------------------------------------------------------
#
#::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

psu_state=$(dmidecode -t chassis | grep "Power Supply State" | cut -f 2 -d':')
if [ $psu_state != "Safe" ];
then
   logger -p syslog.warning -t {{ monitoring_tag }} -s "Alert: PSU State Not Safe"
fi
