#!/bin/sh
## {{ ansible_managed }}
# Filename: OVN_monitor_cpu.sh
# Purpose:  Shell script to monitor or watch the CPU average load of the system and
#           alert by sending message to the syslog (which is monitored by elastalert)
# Description:
# The 15 minute average CPU load of the system is captured. This number represents the average CPU load 
# of the system over all processing elements (num_procs * num_cores_per_proc * num_hyperthreads). The number 
# of cores of the system is available from /proc/cpuinfo and can be calculated using nproc.
# The 'safe' load is any load less than or equal to the number of cores. We need to alert if load > number of cores.
# Threshold =  (avg load of system)/(number of cores) should always be less than or equal to 1.00 
#
# Prescription:
# When this alert is received , the devops team may decide to move some processes running on this host to a less loaded host.
# 
# References: Nemeth-Snyder-Hein-Whaley (4th Edition),
#             https://en.wikipedia.org/wiki/Load_%28computing%29
#
# Dependencies:   logger
#
# -------------------------------------------------------------------------
num_pe=$(nproc)
fifteen_min_avg=$(uptime | rev | cut -d' ' -f 1 | rev)
normalized_load=$(awk '{print $1/$2}' <<<"$fifteen_min_avg $num_pe")
overLoad=$(awk '{print $1 > 1.0}' <<<"$normalized_load")
if (($overLoad)); then
   x=$(printf "Alert: Normalized 15-min Avg CPU Load Too High: %4.2f \n" $normalized_load)
   logger -p syslog.warning -t ovnmonitor -s $x
fi
