jmx_host: {{ ovn_datastax['agent']['jmx_host'] }}

jmx_port: {{ ovn_datastax['agent']['jmx_port'] }}

local_interface: " "
agent_rpc_interface: " "

use_ssl: 0
stomp_interface: {{ ovn_datastax['agent']['stomp_interface'] }}

