#!/bin/bash
# 
# Adapted from Cumulus Networks example
# This script will be donwloaded by a Cumulus switch on boot
# 


function error() {
  echo -e "\e[0;33mERROR: The Zero Touch Provisioning script failed while running the command $BASH_COMMAND at line $BASH_LINENO.\e[0m" >&2
}
trap error ERR



#
# Setup SSH key for Ansible
#

SSH_URL="http://{{rescue.int_1g_oob_sw_eth0.subnet_int_ip}}/cumulus/authorized_keys"

mkdir -p /root/.ssh
wget -O /root/.ssh/authorized_keys $SSH_URL
mkdir -p /home/cumulus/.ssh
wget -O /home/cumulus/.ssh/authorized_keys $SSH_URL
chown -R cumulus:cumulus /home/cumulus/.ssh


#
# Install license
#
LIC_URL="http://{{rescue.int_1g_oob_sw_eth0.subnet_int_ip}}/cumulus/license.txt"
wget $LIC_URL
/usr/cumulus/bin/cl-license -i license.txt


## Debating if this should be done with Ansible or ZTP
#echo "Enable Managment MRF"
#apt-get -yq install cl-mgmtmrf
#/usr/sbin/cl-mgmtmrf setup eth0

sleep 10

#Reboot the switch
/sbin/shutdown -r -t 10 now "Rebooting switch to finish OVN ZTP install"

exit 0
#CUMULUS-AUTOPROVISIONING

