<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator>
      <key>logFileName</key>
      <defaultValue>unknown</defaultValue>
    </discriminator>

    <sift>
        <appender name="FILE-${logFileName}" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file> {{ovn_root_logdir}}/ovn_clearing_jobs/${logFileName}.log </file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		    <fileNamePattern> {{ovn_root_logdir}}/ovn_clearing_jobs/${logFileName}-%d{yyyy-MM-dd}.%i.log </fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize> {{log_max_size}} </maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
		<pattern> {{log_format_string}} %msg%n </pattern>
        </layout>
      </appender>
    </sift>
  
  </appender>

  <root level= "{{log_level}}" >
    <appender-ref ref="SIFT"/>
  </root>

</configuration>
