[Unit]
Description=Consul server
After=network.target

[Service]
User={{ consul_user }}
Environment="GOMAXPROCS=`nproc`"
Environment=TERM=xterm
Restart=on-failure
ExecStart=/bin/sh -c '{{ consul_bin }} agent -config-dir {{ consul_server_conf_file }} -ui 2>&1 >> {{ consul_server_log_file }}'
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
RestartSec=90
StartLimitInterval=500
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
