[haproxy]

{% for node in servers_ha %}
{%   for entry in servers_ha[node] %}
{%    set str = entry.split(';') %} 
{{ str[2]}}
{%   endfor %}
{% endfor %} 

[haproxy:vars]
int_prefix_len=29
int_device_name=eno49
int_gateway={{rescue.int_10g_border_sw.subnet_ha_router}}


[rack1]
{% for entry in servers_rack.rack1 %}
{%    set str = entry.split(';') %} 
{{ str[2]}}
{% endfor %} 

[rack1:vars]
int_prefix_len=27
int_device_name=eno49
int_gateway={{rescue.int_10g_border_sw.subnet_rack1_router}}

[rack2]
{% for entry in servers_rack.rack2 %}
{%    set str = entry.split(';') %} 
{{ str[2]}}
{% endfor %} 

[rack2:vars]
int_prefix_len=27
int_device_name=eno49
int_gateway={{rescue.int_10g_border_sw.subnet_rack2_router}}

[rack3]
{% for entry in servers_rack.rack3 %}
{%    set str = entry.split(';') %} 
{{ str[2]}}
{% endfor %} 


[rack3:vars]
int_prefix_len=27
int_device_name=eno49
int_gateway={{rescue.int_10g_border_sw.subnet_rack3_router}}

