#!/usr/bin/ksh
#set -x
 
 
Replace_AuthorizedKeysFile()
{
 
cp /etc/ssh/sshd_config /etc/ssh/sshd_config.$(date +"%d%b%y.%H%M")
cp /etc/ssh/sshd_config /etc/ssh/sshd_config.keylock-bkp
ls -l /etc/ssh/sshd_config
 
echo
echo
 
 
cat /etc/ssh/sshd_config | sed 's~^AuthorizedKeysFile.*~AuthorizedKeysFile /opt/ssh_keys/authorizedkeys/%u/authorized_keys~g' > /tmp/sshd_config.new
 
echo
echo
 
 
/bin/cp /tmp/sshd_config.new /etc/ssh/sshd_config
 
echo
echo
 
 
ls -l /etc/ssh/sshd_config
 
}
 
Replace_AuthorizedKeysFile_Hash()
{
 
cp /etc/ssh/sshd_config /etc/ssh/sshd_config.$(date +"%d%b%y.%H%M")
cp /etc/ssh/sshd_config /etc/ssh/sshd_config.INC05062015
ls -l /etc/ssh/sshd_config
 
echo
echo
 
 
cat /etc/ssh/sshd_config | sed 's~^\#AuthorizedKeysFile.*~AuthorizedKeysFile /opt/ssh_keys/authorizedkeys/%u/authorized_keys~' > /tmp/sshd_config.new
 
echo
echo
 
 
/bin/cp /tmp/sshd_config.new /etc/ssh/sshd_config
 
echo
echo
 
 
ls -l /etc/ssh/sshd_config
 
}
 
 
 
Check_Hash()
{
 
VarCnt1=`cat /etc/ssh/sshd_config | grep AuthorizedKeysFile | grep \# | wc -l`
 
VarCnt2=`cat /etc/ssh/sshd_config | grep AuthorizedKeysFile | grep -v \# | wc -l`
 
if [ $VarCnt1 -eq 1 ] && [ $VarCnt2 -eq 0 ]
   then
       Replace_AuthorizedKeysFile_Hash
   else
       Replace_AuthorizedKeysFile
fi
 
}
 
 
 
Flavour_check()
{
 
Flavour=`uname -s`
 
case $Flavour in
     Linux)
            Check_Hash
            /sbin/service sshd restart
                      
            ;;
     SunOS)
           Check_Hash
           /usr/sbin/svcadm refresh /network/ssh
          
            ;;
 
     AIX)
            Check_Hash
            /usr/bin/stopsrc -s sshd
            /usr/bin/startsrc -s sshd
                       ;;
esac
}
 
 
 
Flavour_check
