#Clearing master job hcl
job "cas_tools_cli" {

  datacenters = ["{{ vic_identity | regex_replace(' $', '') }}"]

  type = "batch"

  constraint {
    attribute = "${node.class}"
    value     = "cpt"
  }

  periodic {
    cron             = "{{ clearing_master_cron_string }}"
    prohibit_overlap = true
  }
  
  group "g1" {
  
    task "cas_tools_cli" {
      driver = "raw_exec"
    
      config {
        command = "{{clearing_master_job_cmd}}"
        args    = ["-config={{clearing_master_job_yml}}"]
      }
      resources {
        memory = 128 # MB
      }
    }
      restart {
        attempts = 3
        delay = "10s"
        mode = "fail"
    }
  }
}
