[{lager, [
    {colored, true},
    {crash_log, "log_dir/chaos_coordinator.crash.log"},
    {handlers, [
        %{lager_syslog_backend, ["chaos_coordinator", local1, info]},
        {lager_file_backend, [{file, "log/chaos_coordinator.log"}, {level, info}]}
    ]},
    {traces, []}
  ]},
  {chaos_coordinator, [
    {ovnt_umf_broker_connector, [
        {host, "{{broker_ip}}"},
        {port, {{subscriber_port}}}
    ]},
    {mediator_connection, [
        {host, "{{mediator_ip}}"},
        {port, {{mediator_port}}}
    ]},
    {rest_port, {{chaos_rest_port}}}
  ]},
  {ovn_profile, [
    {data_dir, "{{profile_dir}}"},
    {use_profile_in_deps, false}
  ]}
].