{{ global_ovn_switch_leaf1_mgmt_ip }} {{ global_ovn_switch_name_leaf1 }}
{{ global_ovn_switch_leaf2_mgmt_ip }} {{ global_ovn_switch_name_leaf2 }}
{{ global_ovn_switch_leaf3_mgmt_ip }} {{ global_ovn_switch_name_leaf3 }}
{{ global_ovn_switch_leaf4_mgmt_ip }} {{ global_ovn_switch_name_leaf4 }}


{{ global_ovn_switch_spine1_mgmt_ip }} {{ global_ovn_switch_name_spine1 }}
{{ global_ovn_switch_spine2_mgmt_ip }} {{ global_ovn_switch_name_spine2 }}

{{ global_ovn_switch_border_leaf1_mgmt_ip }} {{ global_ovn_switch_name_border_leaf1 }}
{{ global_ovn_switch_border_leaf2_mgmt_ip }} {{ global_ovn_switch_name_border_leaf2 }}


{{ global_ovn_cluster_orange_rack1_mgmt_ip }} {{ global_ovn_cluster_orange_rack1_hostname }}
{{ global_ovn_cluster_orange_rack2_mgmt_ip }} {{ global_ovn_cluster_orange_rack2_hostname }}
{{ global_ovn_cluster_orange_rack3_mgmt_ip }} {{ global_ovn_cluster_orange_rack3_hostname }}

{{ global_ovn_switch_name_oob_mgmt_ip }} {{ global_ovn_switch_name_oob_mgmt }}
{{ global_ovn_mgmt_golden_server_ip }}  {{ global_ovn_mgmt_golden_server }}

{{ global_ovn_mgmt_ha1_ip }} {{ global_ovn_mgmt_ha1 }}
{{ global_ovn_mgmt_ha2_ip }} {{ global_ovn_mgmt_ha2 }}

{{ global_ovn_mgmt_or1_ip }} {{ global_ovn_mgmt_or1 }}
{{ global_ovn_mgmt_or2_ip }} {{ global_ovn_mgmt_or2 }}