---
kibana_reverse_proxy_enabled: true
kibana_basepath: "/kibana-{{ epic_name }}-2"
grafana_reverse_proxy_enabled: true
grafana_reverse_proxy_url: "https://ovntest.visa.com/grafana-{{ epic_name }}-2/"
prometheus_datacenter_id: "{{ epic_name_caps }}-DC2"
grafana_reverse_proxy_path: "grafana-{{ epic_name }}-2"
kibana_reverse_proxy_path: "kibana-{{ epic_name }}-2"

alertmanager_context_path: "alertmanager-{{ epic_name }}-2"
alertmanager_app_context_path: "alertmanager-{{ epic_name }}-2-app"
prometheus_context_path: "prometheus-{{ epic_name }}-2"
prometheus_app_context_path: "prometheus-{{ epic_name }}-2-app"
vss_output_context_path: "vss-output-{{ epic_name }}-2"
