#Input
<worker 0>
  <source>
    @type tail
    path /var/log/elasticsearch/elasticsearch.log
    pos_file /opt/app/td-agent/td_agent_elasticsearch_tail.pos
    tag ovn.log.{{ td_agent_mode }}.elasticsearch
    format multiline
    format_firstline /^\[(?<logTimestamp>\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2},\d{3}\][^ ]*)/
    format1 /^\[(?<logTimestamp>\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2},\d{3}\][^ ]*)\s*\[(?<severity>[^ ]*)[\s]*\][\s]*\[(?<class>[^ ]+)[\s]*\]\s*(?<payload>(.*[\n]*)*)$/
    read_from_head true
    limit_recently_modified 7d
  </source>
</worker>

#Discard debug logs
<filter ovn.log.{{ td_agent_mode }}.elasticsearch>
  @type grep
  <exclude>
    key severity
    pattern ^(DEBUG|TRACE|debug|trace)$
  </exclude>
</filter>

#Transform
<filter ovn.log.{{ td_agent_mode }}.elasticsearch>
  @type record_transformer
  enable_ruby
  <record>
   logTimestamp ${ Time.parse(record["logTimestamp"]).strftime("%Y-%m-%dT%H:%M:%S.%L"); }
   hostname {{ ansible_hostname }}
   index_prefix fluentd_elasticsearchlogs
  </record>
</filter>