#Input
<worker 0>
  <source>
    @type tail
    path /var/log/nginx/access.log
    pos_file /opt/app/td-agent/td_agent_nginx_access_tail.pos
    tag ovn.log.{{ td_agent_mode }}.nginx.access
    limit_recently_modified 7d
    read_from_head true
    format /^(?<remote_addr>[^ ]*) - ([^ ]*) \[(?<local_datetime>([^ ]* [^\]]*))\] \"(?<message>[^\"]*)\" (?<code>[^ ]*) ([^$]*)$/
  </source>
</worker>

<worker 0>
  <source>
    @type tail
    path /var/log/nginx/error.log
    pos_file /opt/app/td-agent/td_agent_nginx_error_tail.pos
    tag ovn.log.{{ td_agent_mode }}.nginx.error
    limit_recently_modified 7d
    read_from_head true
    format /^(?<local_datetime>[^ ]* [^ ]*) \[(?<level>[^\]]*)\] (?<pidtid>[^:]*): \*(?<cid>[^ ]*) (?<error_message>[^$]*)$/
  </source>
</worker>

<filter ovn.log.{{ td_agent_mode }}.nginx.access>
  @type prometheus
  <metric>
    name nginx_http_status_count
    type counter
    desc count of http response status
    <labels>
      status ${code}
    </labels>
  </metric>
</filter>

<filter ovn.log.{{ td_agent_mode }}.nginx.error>
  @type prometheus
  <metric>
    name nginx_http_error_count
    type counter
    desc count of http errors
    <labels>
      severity ${level}
      message ${error_message}
    </labels>
  </metric>
</filter>
