{transport, gen_tcp}.
{host, "localhost"}.
{port, 1500}.
{ssl_options, []}.
{ssl_options_saved, [
  {certfile, "../ovn_switch/rel/hsm-client-cert/cert.pem"},
  {cacertfile, "../ovn_switch/rel/hsm-client-cert/ca_chain.vica4.pem"},
  {keyfile, "../ovn_switch/rel/hsm-client-cert/pkey.pem"}
]}.
{tunnel, "ssh -i ${ovncd_ssh_key} -n -o LocalForward='1500 sm730openethsmd01.visa.com:1500' ovncd@sl73ovnapd001.visa.com sleep 5 &"}.
{tunnel_delay, 3000}.
{zcmk, "X38531EAB4465B50D850755AAA5AC78B4"}.
