{transport, gen_tcp}.
{host, "localhost"}.
{port, 1500}.
{ssl_options, []}.
{ssl_options_saved, [
  {certfile, "../ovn_switch/rel/hsm-client-cert/cert.pem"},
  {cacertfile, "../ovn_switch/rel/hsm-client-cert/ca_chain.vica4.pem"},
  {keyfile, "../ovn_switch/rel/hsm-client-cert/pkey.pem"}
]}.
{tunnel, "ssh -n -o LocalForward='1500 10.16.200.41:1500' root@10.16.200.39 sleep 5 &"}.
{tunnel_delay, 3000}.
%{zcmk, "U8E3E368B5B2F7FB1E4C02A48E20FAD98"}.
{zcmk, "U28232D235F68545664F1E5B93ADA7FBD"}.
