## td-agent config to collect logs from td-agent and write them to elasticsearch based on routing rules
## td-agent will be running as log aggregator

<source>
  @type prometheus
  port 9113
  bind 127.0.0.1
  metrics_path /metrics
</source>

<source>
  @type monitor_agent
</source>

# input plugin that collects metrics from MonitorAgent
<source>
  @type prometheus_monitor
</source>

# input plugin that collects metrics for output plugin
<source>
  @type prometheus_output_monitor
</source>

# input plugin that collects metrics for in_tail plugin
<source>
  @type prometheus_tail_monitor
</source>

<filter fluent.**>
  @type record_transformer
  enable_ruby
  <record>
   hostname {{ ansible_hostname }}
   mode "aggregator"
   index_prefix fluentdlogs
   severity ${tag_parts[2]}
  </record>
</filter>

<match fluent.**>
  @type rewrite_tag_filter
  <rule>
    key message
    pattern .*
    tag ovn.log.aggregator.fluent
  </rule>
# <buffer>
#   @type file
#   chunk_limit_size 32MB
#   total_limit_size 64GB
#   flush_interval 10s
#   overflow_action throw_exception
#  flush_thread_count 4
#   retry_type exponential_backoff
#   retry_exponential_backoff_base 2
#   retry_max_interval 60
#   @type memory
#   chunk_limit_size 32MB
#   total_limit_size 16GB
#   flush_interval 10s
#   overflow_action throw_exception
#   flush_thread_count 4
#   retry_type exponential_backoff
#   retry_exponential_backoff_base 2
#   retry_max_interval 60
# </buffer>
</match>

<source>
  @type forward
{% if td_agent_secure_forward == "true" %}
  <transport tls>
    version TLSv1_2
    cert_path              {{ td_agent_cert_path }}
    private_key_path       {{ td_agent_private_key_path }}
    private_key_passphrase
  </transport>
{% endif %}

  port {{ td_agent_forward_remote_port }}
  bind 0.0.0.0

</source>

@include /etc/td-agent/conf/input/*.conf

<filter **>
    @type record_transformer
    enable_ruby
    <record>
        Timestamp ${ require 'time'; Time.now.utc.iso8601(3) }
        fluentdAggregator {{ ansible_hostname }}
    </record>
</filter>

@include /etc/td-agent/conf/output/*.conf

<system>
  root_dir {{ td_agent_data_dir }}
  workers {{ td_agent_workers }}
  log_level info
</system>