#{{ ansible_managed }}
{# 
    site.conf.j2 template is required for providing support of templates in nginx_sites.
    For each site in nginx_sites, it will create site.conf.
    e.g. 
        nginx_sites:
            - default:
                - listen 8443;
                - server_name localhost;
    
    will be converted to default.conf having
        server {
            listen 8443;
            server_name localhost;
        }
#}

server {
{% for v in item.value %}
{% if v.find('\n') != -1 %}
   {{v.replace("\n","\n   ")}}
{% else %}
   {% if v != "" %}{{ v.replace(";",";\n      ").replace(" {"," {\n      ").replace(" }"," \n   }\n") }}{% if v.find('{') == -1%};
{% endif %}{% endif %}{% endif %}
{% endfor %}
    include {{nginx_conf_dir}}/{{item.key}}/*.conf;
}