# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

maxClientCnxns=1000
# The number of milliseconds of each tick
tickTime={{ tick_time }}
# The number of ticks that the initial
# synchronization phase can take
initLimit={{ init_limit }}
# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit={{ sync_limit }}
# the directory where the snapshot is stored.
dataDir={{ data_dir_zookeeper }}
# the port at which the clients will connect
clientPort={{ zk_port }}

{% set serverindex = 1 %}
{% for server in groups['' + group_name] %}
{% if hostvars[node]['ansible_'+default_iface]['ipv4']['address'] == hostvars[server]['ansible_'+default_iface]['ipv4']['address'] %} 
{% else %}
server.{{serverindex}}={{hostvars[server]['ansible_'+default_iface]['ipv4']['address']}}:{{election_port_a}}:{{election_port_b}}
{% set serverindex = serverindex + 1 %}
{% endif %}
{% endfor %}
