[ssh_connection]
pipelining = True

[defaults]
transport = ssh
forks=20
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible/cachedir
fact_caching_timeout = 864000
hash_behaviour=merge