[Unit]
Description=DSE Cassandra 4.8.6 Server instance
After=network.target

[Service]
Type=simple
User=root
Group=root
Restart=no
RestartSec=15
TimeoutStopSec=180
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ovn_datastax
ExecStart={{ovn_datastax['ops']['installed_foldr']}}/bin/dse cassandra -p {{ovn_datastax['req_foldrs']['pid_run_foldr']}}/dse.pid -f
ExecStop={{ovn_datastax['ops']['installed_foldr']}}/bin/dse cassandra-stop -p {{ovn_datastax['req_foldrs']['pid_run_foldr']}}/dse.pid

[Install]
WantedBy=multi-user.target
