[Unit]
Description=DSE Agent 5.2.4 instance
After=network.target

[Service]
Type=simple
User=root
Group=root
Restart=always
RestartSec=3
TimeoutStopSec=180
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ovn_datastax
ExecStart={{ ovn_datastax['agent']['installed_foldr'] }}/datastax-agent/bin/datastax-agent

[Install]
WantedBy=multi-user.target
