---
version: v1-0
admin:
  listen-address: 127.0.0.1:8080
yummirrors:
  listen-address: 127.0.0.1:8086
  sync-timeout-hour: {{sync_timeout_hour}}
  sync-start-time: {{sync_start_time}}
  sync-times-in-a-day: {{sync_times_in_a_day}}
  repo-name: ovn-deployment-el7
  repo-download-path: /opt/app/data/yum-mirror
logger:
  level: debug
  development: true
  disable-caller: true
  disable-stacktrace: true
  encoding: json
  initialFields:
    index_prefix: "yummirrors"
  encoder-config:
    message-key: msg
    level-key: level
    time-key: ts
    name-key: logger
    caller-key: src
    stacktrace-key: stacktrace
    line-ending: "\n"
    level-encoder: lowercase
    time-encoder: iso8601
    duration-encoder: seconds
    caller-encoder: short
  output-paths:
    - /var/log/{{yummirrors_name}}/{{yummirrors_name}}.log
tracing:
  tracer: ""
metrics:
  reporter: prometheus
