# CentOS 7.x kickstart file - ks7.cfg
#
# For more information on kickstart syntax and commands, refer to the
# CentOS Installation Guide:
# https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Installation_Guide/sect-kickstart-syntax.html
# See also:
# https://docs.fedoraproject.org/en-US/Fedora/13/html/Installation_Guide/s1-kickstart2-options.html

#url --url=https://{{dhcp_server_addr}}/repo/centos
#repo --name=ovn --baseurl=https://{{dhcp_server_addr}}/repo/visa --cost=1500
#
# Pull Visa repo location from kernel command line
%pre
#!/bin/bash
sed 's/.*inst.visa_repo_url=\(.*\) .*/repo --name=ovn --baseurl=\1 --cost=1500/' /proc/cmdline > /tmp/visa_repo
%end
%include /tmp/visa_repo

install
cmdline

skipx
unsupported_hardware

lang en_US.UTF-8
keyboard us
timezone UTC

bootloader --location=mbr
zerombr
clearpart --all --initlabel
part /boot/efi --asprimary --fstype="vfat" --size=200
part /boot     --asprimary --fstype="ext4" --label=boot --size=512 # --ondisk=sda
part  swap     --asprimary
part  /        --asprimary --fstype="ext4" --label=root --grow
#part swap     --asprimary                 --encrypted --passphrase=pass1 --recommended
#part /        --asprimary --fstype="ext4" --encrypted --passphrase=pass1 --grow

network --onboot yes --bootproto dhcp --noipv6
firewall --enabled --service=ssh
selinux --disabled
firstboot --disabled

authconfig --enableshadow --passalgo=sha512

reboot

%packages --ignoremissing --excludedocs
@core
sudo
bzip2
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl*-firmware
-tuned
-postfix
-kexec-tools
-dracut-config-rescue
%end

{{ ks_root_auth }}

{{ ks_provisioning_auth }}

{{ ks_secure_boot|default('# no secure boot configured') }}