<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>pcr</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${pcr}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>logs/PCR${pcr}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>logs/PCR${pcr}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>10MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>

                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>[%date{yyyyMMdd HH:mm:ss.SSS}][%level][%c] %msg%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>

    <root level="INFO">
        <appender-ref ref="SIFT"/>
    </root>
</configuration>