remote_kafka_members: '{{ captured_kafka_members }}'
remote_zookeeper_members: '{{ captured_zookeeper_members }}'
remote_zookeeper_members_nodenames: '{{ captured_zookeeper_members_nodenames }}'
remote_forward_handler_endpoints: [{{ captured_forward_handler_endpoints }}]
remote_namenode_members: [{{ captured_namenode_members }}]
remote_kerberos_server_members: [{{ captured_kerberos_server_members }}]
