## {{ ansible_managed }}
[DiskStats]
type = "FilePollingInput"
ticker_interval = 1
file_path = "/sys/block/sda/stat"
decoder = "DiskStatsDecoder"

[DiskStatsDecoder]
type = "SandboxDecoder"
filename = "lua_decoders/linux_diskstats.lua"

[DiskStatsFilter]
type = "SandboxFilter"
filename = "lua_filters/diskstats.lua"
preserve_data = {{ heka_data_retention_policy }}
message_matcher = "Type == 'stats.diskstats'"
ticker_interval = 10

[DiskStatsCarbonLineEncoder]
type = "SandboxEncoder"
filename = "lua_encoders/schema_carbon_line.lua"
   [DiskStatsCarbonLineEncoder.config]
   name_prefix = "{{ ansible_hostname }}.disk"

[DiskStatsCarbonOutput]
type = "TcpOutput"
encoder = "DiskStatsCarbonLineEncoder"
message_matcher = "Type == 'stats.diskstats'"
address = "{{ carbon_host }}:{{ carbon_port }}"

        [DiskStatsCarbonOutput.buffering]
	max_buffer_size = {{ heka_total_buffer_size  }} 	#Maximum amount of disk space (in bytes) that the entire queue buffer can consume.
	full_action = {{ heka_action_on_max_buffer }}		#Action on full buffer
	max_file_size = {{ heka_buffer_file_size  }}  		#Size of each file in the queue buffer
	cursor_update_count = {{ heka_cursor_update_count  }}	#Number of updateCursor calls must be made before the cursor location is flushed to disk.
