
policy_module(ovn_cluster_test,1.0)

# Declarations
# External Interface Types
type ub_dev_t;
type ub_qa_t;
type cdb_devqa_t;
type rsiapf_qa_t;
type vmg_qa_t;
type ovn_mgr_test_t;

# Internal Interface Types
type ovn_mediator_if_t;
type ovn_switch_if_t;
type ovn_paymenthsm_if_t;
type ovn_eas_if_t;
type ovn_riak_if_t;
type ovn_kibana_if_t;
type ovn_elasticsearch_if_t;
type ovn_graphite_if_t;
type ovn_vault_if_t;
type ovn_consul_if_t;
type ovn_zookeeper_if_t;
type ovn_kafka_if_t;
type ovn_grafana_if_t;
