default vesamenu.c32
prompt 1
timeout 100

display boot.msg

label kick
  menu label Install OVN Orange Server with ^Kickstart 
  menu default
  kernel vmlinuz
  append initrd=initrd.img inst.ks=http://{{global_ogl_mgmt_ip}}/{{ogl_orange_rack1_ks_dir}}/{{ogl_orange_rack1_ks_file}}

label rescue
  menu label ^Rescue installed system
  kernel vmlinuz
  append initrd=initrd.img rescue
label local
  menu label Boot from ^local drive
  localboot 0xffff
