# CentOS 7.x kickstart file - ks7.cfg
#
# For more information on kickstart syntax and commands, refer to the
# CentOS Installation Guide:
# https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Installation_Guide/sect-kickstart-syntax.html
# See also:
# https://docs.fedoraproject.org/en-US/Fedora/13/html/Installation_Guide/s1-kickstart2-options.html

#url --url=http://{{global_ogl_mgmt_ip}}/repo/centos
#repo --name=ovn --baseurl=http://{{global_ogl_mgmt_ip}}/repo/visa --cost=1500
%pre
#!/bin/bash
sed 's/.*inst.visa_repo_url=\(.*\) .*/repo --name=ovn --baseurl=\1 --cost=1500/' /proc/cmdline > /tmp/visa_repo
%end
%include /tmp/visa_repo

install
cmdline

skipx
unsupported_hardware

lang en_US.UTF-8
keyboard us
timezone UTC

bootloader --location=mbr
zerombr
clearpart --all --initlabel
part /boot/efi --asprimary --fstype="vfat" --size=200
part /boot     --asprimary --fstype="ext4" --label=boot --size=512 # --ondisk=sda
part  swap     --asprimary
part  /        --asprimary --fstype="ext4" --label=root --grow
#part swap     --asprimary                 --encrypted --passphrase=pass1 --recommended
#part /        --asprimary --fstype="ext4" --encrypted --passphrase=pass1 --grow

network --onboot yes --bootproto dhcp --noipv6
#firewall --enabled  --service=ssh
firewall --disabled
selinux --permissive
firstboot --disabled

# Root password
rootpw --iscrypted $6$qe28GksSeQqlFdii$01VesO4gWUcGbERcCooqcrlOuQn/gVpXJ9SYYvYg.FOOxWfNdGGRiwy2t4DF5OkSydlDzsxWRLrxV4RK9VGQy/

reboot

%packages --ignoremissing --excludedocs
@core
sudo
bzip2
dhcp
tftp-server
xinetd
tcpdump
wget
httpd
bind
bind-utils
rsync
keepalived
haproxy
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl*-firmware
-tuned
-postfix
-kexec-tools
-dracut-config-rescue
%end



#group --name=vagrant --gid=501
#user --name=vagrant --password=vagrant --plaintext --uid=501 --gid=501 --groups=wheel

%post
#echo "vagrant"|passwd --stdin vagrant
#echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
#echo "Defaults:vagrant !requiretty"                 >> /etc/sudoers.d/vagrant
#chmod 0440 /etc/sudoers.d/vagrant
%end


%pre
#!/bin/sh
VISA_INITRD=visa-initrd-virtio
lsblk -S|grep HP && VISA_INITRD=visa-initrd-hp
echo $VISA_INITRD  > /tmp/visa-initrd
%end

%packages --ignoremissing --excludedocs
visa-grub
%include /tmp/visa-initrd
%end

%post --nochroot --log=/mnt/sysimage/root/post-secure_boot.log

# Delete previous boot entries
efibootmgr | grep "Visa Signed" | sed 's/Boot\([0-9][0-9][0-9][0-9]\).*/\1/' |
xargs -r -n 1 efibootmgr -B -b

# Add boot entry
#efibootmgr -c -d /dev/sda -p 1 -l \\EFI\\centos\\shim-centos.efi -L "Visa Signed CentOS (Legacy)"
efibootmgr -c -d /dev/sda -p 1 -l \\EFI\\visa\\grub.efi -L "Visa Signed CentOS"

# Tip machine over into Secure Boot mode
/visa/efi-updatevar -e -f /visa/uefi_db.esl db
/visa/efi-updatevar -e -f /visa/uefi_KEK.esl    KEK
/visa/efi-updatevar    -f /visa/uefi_PK.auth     PK

%end


###############################################
#    Post install script
###############################################



#
# Install OGL ssh public key for Ansible
#
%post --log=/root/ks-install-ogl-pub-key

/usr/bin/mkdir -p /root/.ssh
cd /root/.ssh/
wget http://{{global_ogl_mgmt_ip}}/cumulus/authorized_keys

%end

