[Unit]
Description=opscenter server instance
After=network.target

[Service]
User=root
Group=root
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SyslogIdentifier=dstax511_ovn_datastax
ExecStart={{ dstax511_ovn_datastax['dstax511_agent']['dstax511_installed_foldr'] }}/datastax-agent/bin/datastax-agent

[Install]
WantedBy=multi-user.target
