set timeout=10
menuentry 'Install Visa CentOS 7.X (SecureBoot)' --unrestricted {
  linuxefi  uefi/vmlinuz ip=dhcp inst.ks=http://{{global_ogl_mgmt_ip}}/ks/{{ogl_orange_secureboot_ks_file}} inst.noshell
  initrdefi uefi/initrd.img
}
#inst.noshell inst.cmdline
