## td-agent config to collect logs and send them to td-agent (log aggregator) based on routing rules
## td-agent will be running as log forwarder

@include /etc/td-agent/conf/input/*.conf

<system>
  root_dir {{ td_agent_data_dir }}
  workers {{ td_agent_workers }}
  log_level info
</system>

<filter fluent.**>
  @type record_transformer
  enable_ruby
  <record>
   hostname {{ ansible_hostname }}
   mode "forwarder"
   index_prefix fluentdlogs
   severity ${tag_parts[2]}
  </record>
</filter>

<match fluent.**>
  @type rewrite_tag_filter
  <rule>
    key message
    pattern .*
    tag ovn.log.forwarder.fluent
  </rule>
</match>

#Output
<match **>
  @type forward
  @id   ovn_forward_log
{% if td_agent_secure_forward == "true" %}
  transport tls
  tls_version TLSv1_2
  tls_ciphers {{ td_agent_tls_ciphers }}
  tls_verify_hostname true
  tls_cert_path {{ td_agent_ca_cert_path }}
{% endif %}

{% for node in groups.fluentd_aggregator|default ( {} ) %}
{% if hostvars[node].ansible_fqdn is defined %}
 <server>
   host {{ hostvars[node].inventory_hostname }}
   name {{ hostvars[node].ansible_fqdn }}
   port {{ td_agent_forward_remote_port }}
   weight 60
 </server>
{% else %}
 <server>
   host {{ hostvars[node].inventory_hostname }}
   name {{ hostvars[node].inventory_hostname }}
   port {{ td_agent_forward_remote_port }}
   weight 60
 </server>
{% endif %}
{% endfor %}

 heartbeat_type transport
 <buffer>
   @type file
   chunk_limit_size 32MB
   total_limit_size 64GB
   flush_interval 10s
   flush_at_shutdown true
   overflow_action throw_exception
   flush_thread_count 4
   retry_type exponential_backoff
   retry_exponential_backoff_base 2
   retry_max_interval 60
#   @type memory
#   chunk_limit_size 32MB
#   total_limit_size 16GB
#   flush_interval 10s
#   overflow_action throw_exception
#   flush_thread_count 4
#   retry_type exponential_backoff
#   retry_exponential_backoff_base 2
#   retry_max_interval 60
 </buffer>
 require_ack_response true
  
 <secondary>
    @type secondary_file
    directory {{ td_agent_data_dir }}/failed_records
 </secondary>
</match>
