# Output
<match ovn.log.**>
  @type elasticsearch_dynamic
  @id ovn_elasticsearch_log
{% if elasticsearch_client_ssl_enabled == "true" %}
  hosts localhost:{{ nginx_elasticsearch_client_port }}
{% else %}
  hosts {{ elasticsearch_host }}:{{ elasticsearch_port }}
{% endif %}
  logstash_format true
  type_name ${record['index_prefix']}
  logstash_prefix ${record['index_prefix']}
  logstash_dateformat %Y.%m.%d
  time_key Timestamp
  time_key_exclude_timestamp true
  <buffer>
    @type file
    chunk_limit_size 32MB # https://groups.google.com/forum/#!topic/fluentd/-6Q8pPMU-Kc
    total_limit_size 64GB
    flush_interval 10s
    flush_at_shutdown true
    overflow_action throw_exception
    flush_thread_count 4
    retry_type exponential_backoff
    retry_exponential_backoff_base 2
    retry_max_interval 60
  </buffer>
  request_timeout 15s
  remove_keys index_prefix
  reconnect_on_error true
  reload_on_failure true
  
  <secondary>
    @type secondary_file
    directory {{ td_agent_data_dir }}/failed_records_fluentd_eslog
  </secondary>
</match>
