<source>
  @type syslog
  port 5140
  tag ovn.log.{{ td_agent_mode }}.syslog
</source>

#Transform
<filter ovn.log.{{ td_agent_mode }}.syslog.authpriv.*>
  @type record_transformer
  enable_ruby
  <record>
   hostname {{ ansible_hostname }}
   logTimestamp ${time.strftime("%Y-%m-%dT%H:%M:%S.%L");}
   severity ${tag_parts[5]}
   facility ${tag_parts[4]}
   index_prefix fluentd_secure
  </record>
  remove_keys host
</filter>