#Input
<worker 0>
  <source>
    @type tail
    path /var/log/syslog
    pos_file /opt/app/td-agent/td_agent_yummirror_tail.pos
    tag ovn.log.{{ td_agent_mode }}.yummirror
    format /6(\s+)(?<VERSION>\d)(\s+)(?<ISOTIMESTAMP>[^s]+)(\s+)(?<HOSTNAME>[^\s]+)(\s+)(?<APPLICATION>[^\s]+)(\s+)(?<PID>[^\s]+)(\sRepoSync_+)(?<REPO_NAME>[^\s]+)(\s+)(?<STRUC_DATA>[^\s]+)(\s+)(?<ARTIFACT_NAME>.*)(\s+)(FAILED)/
    read_from_head true
    limit_recently_modified 7d
  </source>
</worker>

<filter ovn.log.{{ td_agent_mode }}.yummirror>
  @type prometheus
  <metric>
    name yum_mirrorrs_rsync_status
    type counter
    desc Yum mirrors sync status
    <labels>
      repoName ${REPO_NAME}
    </labels>
  </metric>
</filter>