[Unit]
Description=Nomad server instance
After=network.target

[Service]
Type=simple
User={{nomad_username}}
Group={{nomad_username}}
Restart=always
RestartSec=3
TimeoutStopSec=180
StandardOutput=null
StandardError=null
ExecStart={{nomad_server_install_dir}}/nomad agent -config={{nomad_server_install_dir}}/nomad-server.conf

[Install]
WantedBy=multi-user.target
